{% extends 'global/base.html' %}

{% block nav_lateral %}
  {% include 'partials/_nav_atendimento.html' %}
{% endblock nav_lateral %}

{% block head_base %}
<style>
  .cartesian-plane {
      position: relative;
      width: 300px;
      height: 300px;
      margin: 20px;
  }

  .axis {
      position: absolute;
      background-color: #000;
  }

  .x-axis {
      width: 90%;
      height: 1px;
      top: 50%;
      left: 0;
  }

  .y-axis {
      width: 1px;
      height: 120%;
      top: 0;
      left: 50%;
  }

  .tick {
      position: absolute;
      background-color: #000;
  }

  .x-tick {
      width: 1px;
      height: 120%;
  }

  .y-tick {
      width: 100%;
      height: 1px;
  }

  .intersection-point {
      position: absolute;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      //background-color: red;
      transform: translate(-50%, -50%);
  }

  .green-point {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: green;
      border-radius: 50%;
      transform: translate(-50%, -50%);
  }

  .blue-point {
      position: absolute;
      width: 5px;
      height: 5px;
      background-color: blue;
      border-radius: 50%;
      transform: translate(-50%, -50%);
  }
  
  .line {
      position: absolute;
      height: 2px;
      transform-origin: left center;
  }

  .line-green {
      background-color: green;
  }

  .line-blue {
      background-color: blue;
  }

  .btn-audiometria {
    border: none;
    background: none;
    width: 70px; 
    height: 70px; 
    margin: 0 10px;
    transition: all 0.3s ease; 
  }
  .btn-audiometria:hover {
    transform: scale(1.2); 
  }
  .btn-audiometria.hover-effect:hover {
    transform: none; 
  }
  .btn-historico {
    border: none;
    background: none;
    width: 50px; 
    height: 50px; 
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  .btn-historico:hover {
    transform: translateX(-10px); 
  }
  select option.destaqueOption {
    background-color: rgba(165, 0, 39);
    color: white;
    text-align: center;
  }
  #img-place-cards{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    font-family: 'Nunito', sans-serif;
  }
  #img-place-cards.active {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
  }
  #div_documentos_modal {
    background-color: white; 
    width: 40vw; 
    height: 60vh; 
    position: absolute; 
    z-index: 0;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    margin: auto; 
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px; 
    border-radius:5px ;
    border: 1px solid rgba(0, 0, 0, 0.2); 
  }
  #div_carregamento {
    background-color:rgba(0,0,0,0.4);
    width: 95vw; 
    height: 95vh; 
    position: absolute; 
    z-index: 2;
    top: 0; 
    bottom: 0; 
    left: 0; 
    right: 0; 
    border-radius:0px ;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  .card_documento_no_modal{
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    margin: 10px; 
    padding: 8px; 
    border: 1px solid rgba(0, 0, 0, 0.2); 
    border-radius: 5px;
  }
  #gif_carregamento {
    width: auto; 
    height: 15vh; 
    margin-left: -12vw;
    margin-top: auto;
    margin-bottom: auto;
  }
</style>
{% endblock head_base %}

{% block content %}
<style>
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
th {
    background-color: #A50027;
    color: white;
}
</style>
<div id="div_documentos_modal">
  <h4 class="card_documento_no_modal" style="border: None; margin: 2px;">Impressão de Documentos</h4>
  <div class="card_documento_no_modal">
    <span style="">Ficha de Audiometria</span> 
    <a href="{% url "atendimento:download_documento_audiometria" %}?registro=0&documento=fichaAudiometria" class="btn btn-success download-link">Download</a>
  </div>
  <button id="btn_fechar_documentos_modal" class="btn btn-danger" style="position: absolute; bottom: 0; right: 0; margin: 10px;">Fechar</button>
</div>

<div hidden id="div_carregamento"><img id="gif_carregamento" src="/media/carregando.gif"></div>

<form id="form-movimentacao" action="{{form_action}}" method="post">
  {% csrf_token %}
  <div style="height: 90vh; width: 82vw; position: relative;">
    <div class="row">
      <div style="margin-left:1%; background: white; width: 30vw; height: 89vh;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);">
        <div style="margin-top:1vh;">
          <div class="row">
            <div class="col">
              {{form.auData.label}}
              {{form.auData}}  
            </div>
            <div class="col">
              {{form.aClient.label}}
              <input type="text" placeholder="Digite um nome ..." id="searchButtonCliente" class="form-control">  
              <select hidden name="aClient" class="form-control" required id="id_aClient">        
              </select> 
            </div>
          </div>
        </div> 
        <div style="margin-top:1vh;">
          {{form.auProfessional.label}}
          {{form.auProfessional}}    
        </div>
        <div style="margin-top:1vh;">
          {{form.auLocal.label}}
          {{form.auLocal}}    
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <button title='Audiometria' class="btn-audiometria" type="button" id="btn-audiometria">
            <img src="/media/atendimento/btn-icon-audiometria.png">
          </button>
          <button title='Desfecho' class="btn-audiometria" type="button" id="btn-desfecho">
            <img src="/media/atendimento/btn-icon-desfecho.png">
          </button>
        </div>
        <div style="position: absolute; bottom: 2vh; width: 34vw;">
          {{form.auObser.label}}
          {{form.auObser}}    
        </div>
      </div>
      <div style="padding:1%; margin-left:1%; background: white; width: 50vw; height: 89vh; box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);overflow-y:auto; overflow-x:auto;">
        <div id="img-place-cards">
          <span style="margin-bottom: 10px;"><b>Escute com atenção, sua jornada de audição começa agora!</b></span><br>
          <img src="/media/atendimento/audiometria1.png" alt="audiometria">
        </div>
        <div hidden id="card-audiometria" style="margin-top:1vh;">
          <h5>AUDIOMETRIA</h5>
          {% include 'atendimento/audiometria/pages_audiometrias/page1_au.html' %}
        </div>
        <div hidden id="card-desfecho" style="margin-top:1vh;">
          <h5>DESFECHO</h5><br>
          {% include 'atendimento/audiometria/pages_audiometrias/page2_au.html' %}
        </div>
      </div>
    </div>
    <button class="btn-audiometria" style="display: inline-block; position: absolute; bottom: 1vh; right: 1vw; height:80px; width:80px;">
      <img src="/media/btn-gravar.png">
    </button>
  </div>  
</form>
<script>
$(document).ready(function(){
  // localizando o paciente | Controle
  $('#searchButtonCliente').on('change', function(){
    var clientes;
    var client_select = $('#id_aClient');
    var cliente = $(this).val();
    if(cliente!=''){
        clientes = $.ajax({
            url: "{% url 'atendimento:getJSONclient' %}?searchClient=" + cliente,   
            type: "get",     
            async: false,  
            data: $("#search").serialize(),    
            success: function (data){
                data_clients = data.results 
            },                 
        });
    };
    /// Identificando se a busca retornou algo
    if(clientes.responseJSON.results[0]!=null){
      $(this).prop('hidden', true);
      $(client_select).prop('hidden', false);
    } else {
      $(this).val('');
    }
    /// iniciando a inclusão dos clientes localizados no select
    client_select.empty();
    var defaultOption = $('<option></option>').val('').html('Selecione um cliente').prop('selected', true);
    client_select.append(defaultOption);
    for (const key in clientes.responseJSON.results){
        client_select.append(
            $('<option></option>').val(clientes.responseJSON.results[key].id).html(clientes.responseJSON.results[key].first_name + " " + clientes.responseJSON.results[key].last_name)
        );
    }
    client_select.append($('<option></option>').val('pesquisa').html('+ Nova pesquisa').addClass('destaqueOption'));
  })
  /// verificar se campo de seleção do cliente, é uma nova busca
  $('#id_aClient').on('change', function(){
    if($(this).val()=='pesquisa'){
      $(this).prop('hidden', true);
      $('#searchButtonCliente').val('');
      $('#searchButtonCliente').prop('hidden', false);
    }
  })

  $('#btn-audiometria').on('click', function(){
    var divAudiometria = document.getElementById('card-audiometria'); 

    if (divAudiometria && divAudiometria.hidden) {
      $('#card-audiometria').prop('hidden', false);
      $('#card-desfecho').prop('hidden', true);
      $('#img-place-cards').prop('hidden', true);
    } else {
      $('#card-audiometria').prop('hidden', true);
      $('#card-desfecho').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
    }
  });
  $('#btn-desfecho').on('click', function(){
    var divDesfecho = document.getElementById('card-desfecho'); 

    if (divDesfecho && divDesfecho.hidden) {
      $('#card-desfecho').prop('hidden', false);
      $('#card-audiometria').prop('hidden', true);
      $('#img-place-cards').prop('hidden', true);
    } else {
      $('#card-desfecho').prop('hidden', true);
      $('#card-audiometria').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
    }
  });

  // Controle modal de documentos para impressao
  $('#div_documentos_modal').prop('hidden', true);
  //$('#div_documentos_modal').css('z-index', 1);
  $('#btn_fechar_documentos_modal').on('click', function(){
      window.location.href = "{% url 'atendimento:index' %}";
      return false;
  });

  // Ação ao gravar atendimento
  $('#form-movimentacao').on('submit', function(){
    // abrir modal de documentos para download
    $('#div_documentos_modal').prop('hidden', false);
    $('#div_documentos_modal').css('z-index', 1);
    console.log('entrou')
    // pegando o id da audiometria após salvá-lo
    event.preventDefault();  
    var form = $(this);
    $.ajax({
      type: form.attr('method'),
      url: form.attr('action'),
      data: form.serialize(),
      success: function(data, textStatus, xhr) {
        var formId = xhr.getResponseHeader('id_registro');
        
        $('.download-link').each(function() {
          var currentHref = $(this).attr('href');
          var newHref = currentHref.replace(/registro=\d+/, 'registro=' + formId);
          $(this).attr('href', newHref);
        });
      },
      error: function(xhr, textStatus, errorThrown) {
          console.error('Erro na requisição AJAX:', errorThrown);
      }
    });
  })
  // controle modal de carregamento
  $("#div_documentos_modal a").each(function() {
    $(this).on('click', function(){
      $("#div_carregamento").prop("hidden", false);

      // esconder modal após passado o tempo de 5 segundos
      setTimeout(function() {
          $("#div_carregamento").prop("hidden", true);
      }, 5000);
    });
  });
});
</script>  
{% endblock content %}
