    <ul>
        <li><a href='{% url 'relatorios:rel_movimentacao_insumos' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Relatórios<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'relatorios:rel_movimentacao_insumos' %}'>Movimentações de Insumos</a></li>
                <li><a href='{% url 'relatorios:rel_atendimentos' %}'>Atendimentos</a></li>
            </ul>
        </li>
        <li><a href='{% url 'home:logoutUser' %}'>Logout</a></li>
    </ul>