{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_atendimento.html' %}{% endblock nav_lateral %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <div class="d-flex justify-content-between">
        <h3>Motivos de Atendimento</h3> <a href="{% url 'atendimento:createMotivo' %}" class="btn btn-primary">Cadastrar</a>
    </div>
    <br>
<div class="responsive-table">
    <form action="{% url 'atendimento:searchMotivo' %}" method="get">
        <input class="form-control" type="text" name="q" placeholder="Digite um nome">
    </form>
    <table class="clients-table">
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for motivo in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a href="{% url 'atendimento:updateMotivo' motivo.id %}" class="table-link">
                            {{ motivo.id }}
                        </a>
                    </td>
                    <td class="table-cel">
                            {{ motivo.name }}
                    </td>                  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/_pagination.html' %}   
</div>
{% endblock content %}