{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_estoque.html' %}{% endblock nav_lateral %}

{% block content %}
  <script>
    $(document).ready(function(){
      $("#id_local").prop('required', false)
      // buscar dados do localitems, chamando a view
      $("#id_local").change(function(){
        var local = $(this).children("option:selected").val();
        if(local!=''){
          window.location.replace("{% url 'estoque:updateInsumo' insumo.id %}?localitems=" + local);
        }else{
          window.location.replace("{% url 'estoque:updateInsumo' insumo.id %}");
        }
      });
      //obter valor parametro localitems (control select)
      var url_string = window.location.href; 
      var url = new URL(url_string);
      var paramValue = url.searchParams.get("localitems");
      $('#id_local option').each(function() {
        if($(this).val() == paramValue) {
          $(this).attr('selected', true);
        }
      });

      // caso haja quantidade positiva, bloquear alteração do tipo de controle (LOTE/QUANTIDADE)
      var quantidadeInsumo = $('#id_quantidade').val();
      var local = $('#id_local').val();
      if (quantidadeInsumo > 0 || local == ''){
        $('#id_controle').prop('disabled', true);
        $('#id_situacao').prop('disabled', true);
      }  

      $('#btnGravar').on('click', function(){
        $('#id_controle').prop('disabled', false);
        $('#id_situacao').prop('disabled', false);
      });
    });
  </script>
  <div class="container" style="padding:1px 16px;">
    <div class="col-10">
      <h3>{{name_screen}}</h3>
    </div>
    <form action="{{form_action}}" method="post" class="form-control">
      {% csrf_token %}
      {% for field in form %}    
        {% if field.name == 'descricao' or field.name == 'valor' or field.name == 'marca' or field.name == 'controle' %}  
        <div class="row align-items-center">
        {% endif %} 
          <div class="col"> 
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if form.non_field_errors %}
              <div class="form-content">
                <div class="form-group">
                  <div class="message error">
                    {{ form.non_field_errors }}
                  </div>
                </div>
              </div>
            {% endif %}
            {{ field }}
            {{ field.errors }}
          </div>            
        {% if field.name == 'descricao' or field.name == 'quantidadeMin' or field.name == 'grupoInsumo' or field.name == 'situacao' %}    
        </div> 
        {% endif %}                                 
      {% endfor %}
      <br>
      {% if isCreate != 1 %}
      <label>Unidade</label>
        {{ formLocal.local }}
      {% endif %}
      {% if local != None or isCreate == 1 %}
      <div class="row">
        <div class="col-6 text-center">
          <b>Lotes com Saldo</b>
        </div>
        <div class="col-6 text-center">
          <b>Lotes sem Saldo</b>
        </div>
      </div>
      <div class="row">
        {% comment %} Tabela com saldo {% endcomment %}
        <div class="col-6" style="width: 48%; margin-left: 15px; height:350px;border: 1px solid #ccc;background-color: #faf5f5;border-radius: 5px;overflow-x: auto; padding: 0px">
          <table class="clients-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Serie</th>
                    <th class="table-header">Local</th>
                    <th class="table-header">Data da Entrada</th>
                    <th class="table-header">Disponível</th>
                    <th class="table-header">Val. Unitário</th>
                    <th class="table-header">Val. Total</th>
                </tr>
            </thead>
            <tbody>
                {% for field in itemsComSaldo %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ field.serie }}
                        </td>
                        <td class="table-cel">
                          {{ field.local }}
                        </td> 
                        <td class="table-cel">
                          {{ field.dataEntrada }}
                        </td>
                        <td class="table-cel">
                          {{ field.quantidade }}
                        </td>
                        <td class="table-cel">
                          {{ field.valorUnitario }}
                        </td> 
                        <td class="table-cel">
                          {{ field.valorTotal }}
                        </td>                      
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        {% comment %} Tabela sem saldo {% endcomment %}
        <div class="col-6" style="width: 48%; margin-left: 20px; height:350px;border: 1px solid #ccc;background-color: #faf5f5;border-radius: 5px;overflow-x: auto; padding: 0px">
          <table class="clients-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Serie</th>
                    <th class="table-header">Local</th>
                    <th class="table-header">Data da Entrada</th>
                    <th class="table-header">Disponível</th>
                    <th class="table-header">Val. Unitário</th>
                    <th class="table-header">Val. Total</th>
                </tr>
            </thead>
            <tbody>
                {% for field in itemsSemSaldo %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ field.serie }}
                        </td>
                        <td class="table-cel">
                          {{ field.local }}
                        </td> 
                        <td class="table-cel">
                          {{ field.dataEntrada }}
                        </td>
                        <td class="table-cel">
                          {{ field.quantidade }}
                        </td>
                        <td class="table-cel">
                          {{ field.valorUnitario }}
                        </td> 
                        <td class="table-cel">
                          {{ field.valorTotal }}
                        </td>                      
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>        
    {% endif %}
      <div class="form-content d-flex flex-row bd-highlight mb-3">        
        <button class="btn btn-success me-1" id="btnGravar" type="submit">Gravar</button>
        <a href="{% url 'estoque:listInsumo' %}" class="btn btn-primary">Voltar</a>
      </div>
    </form>  
  </div>
{% endblock content %}

