{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_estoque.html' %}{% endblock nav_lateral %}

{% block content %}
  <div class="container" style="padding:1px 16px;">
    <h3>{{name_screen}}</h3> <br>
    <form action="{{form_action}}" method="post" class="form-control">
      {% csrf_token %}
      {% for field in form %}    
        {% if field.name == 'descricao' or field.name == 'valor' or field.name == 'marca' or field.name == 'situacao' %}  
        <div class="row align-items-center">
        {% endif %} 
          <div class="col"> 
            <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
            {% if form.non_field_errors %}
              <div class="form-content">
                <div class="form-group">
                  <div class="message error">
                    {{ form.non_field_errors }}
                  </div>
                </div>
              </div>
            {% endif %}
            {{ field }}
            {{ field.errors }}
          </div>            
        {% if field.name == 'descricao' or field.name == 'quantidade' or field.name == 'marca' or field.name == 'situacao' %}    
        </div> <br> 
        {% endif %}                                 
      {% endfor %}
      <div class="row">
        <div class="col-6 text-center">
          <b>Lotes com Saldo</b>
        </div>
        <div class="col-6 text-center">
          <b>Lotes sem Saldo</b>
        </div>
      </div>
      <div class="row">
        {% comment %} Tabela com saldo {% endcomment %}
        <div class="col-6" style="width: 48%; margin-left: 15px; height:350px;border: 1px solid #ccc;background-color: #faf5f5;border-radius: 5px;overflow-x: auto; padding: 0px">
          <table class="clients-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Serie</th>
                    <th class="table-header">Local</th>
                    <th class="table-header">Data da Entrada</th>
                    <th class="table-header">Disponível</th>
                    <th class="table-header">Val. Unitário</th>
                    <th class="table-header">Val. Total</th>
                </tr>
            </thead>
            <tbody>
                {% for field in itemsComSaldo %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ field.serie }}
                        </td>
                        <td class="table-cel">
                          {{ field.local }}
                        </td> 
                        <td class="table-cel">
                          {{ field.dataEntrada }}
                        </td>
                        <td class="table-cel">
                          {{ field.quantidade }}
                        </td>
                        <td class="table-cel">
                          {{ field.valorUnitario|floatformat:2 }}
                        </td> 
                        <td class="table-cel">
                          {{ field.valorTotal|floatformat:2 }}
                        </td>                      
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
        {% comment %} Tabela sem saldo {% endcomment %}
        <div class="col-6" style="width: 48%; margin-left: 20px; height:350px;border: 1px solid #ccc;background-color: #faf5f5;border-radius: 5px;overflow-x: auto; padding: 0px">
          <table class="clients-table">
            <thead>
                <tr class="table-row table-row-header">
                    <th class="table-header">Serie</th>
                    <th class="table-header">Local</th>
                    <th class="table-header">Data da Entrada</th>
                    <th class="table-header">Disponível</th>
                    <th class="table-header">Val. Unitário</th>
                    <th class="table-header">Val. Total</th>
                </tr>
            </thead>
            <tbody>
                {% for field in itemsSemSaldo %}
                    <tr class="table-row">
                        <td class="table-cel">
                            {{ field.serie }}
                        </td>
                        <td class="table-cel">
                          {{ field.local }}
                        </td> 
                        <td class="table-cel">
                          {{ field.dataEntrada }}
                        </td>
                        <td class="table-cel">
                          {{ field.quantidade }}
                        </td>
                        <td class="table-cel">
                          {{ field.valorUnitario|floatformat:2 }}
                        </td> 
                        <td class="table-cel">
                          {{ field.valorTotal|floatformat:2 }}
                        </td>                      
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        </div>
      </div>
      <div class="form-content d-flex flex-row bd-highlight mb-3">        
        <button class="btn btn-success me-1" type="submit">Gravar</button>
    </form>
          {% if option_delete == 'yes'%}
          <form action="{% url 'estoque:deleteInsumo' insumo.id %}" method="POST">
              {% csrf_token %}
              {% if confirmation_delete == 'no' %}
                <input name="confirmation_delete" type="hidden" value="yes">
                <button class="btn btn-danger">Confirma?</button>  
              {% else %}
                <button class="btn btn-danger">Delete</button> 
              {% endif %}      
              <a href="{% url 'estoque:listInsumo' %}" class="btn btn-primary">Voltar</a>
      </div>  
          </form> 
          {% endif %}  
  </div>
{% endblock content %}

