    <ul>
        <li><a href='{% url 'atendimento:index' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Cadastros<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'atendimento:listMotivo' %}'>Motivos de Atendimento</a></li>
            </ul> 
        <li>
        <li class='sub-menu'><a href='#'>Movimentação<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'atendimento:atendimento_new' %}'>Atendimento</a></li>
                <li><a href='{% url 'atendimento:listAudiometria' %}'>Audiometria</a></li>
                <li><a href='{% url 'atendimento:historicoAtendimento' %}'>Histórico de Atendimentos</a></li>
            </ul>
        <li><a href='{% url 'home:logoutUser' %}'>Logout</a></li>
    </ul>