    <ul>
        <li><a href='{% url 'atendimento:atendimento' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Cadastros<div class='fa fa-caret-down right'></div></a>
        <ul>
            {% comment %} <li><a href='{% url 'home:listClient' %}'>Clientes</a></li>
            <li><a href='{% url 'home:listLocal' %}'>Unidades de Atendimento</a></li>
            <li><a href='{% url 'home:listProfessional' %}'>Profissionais</a></li> {% endcomment %}
        </ul>
        <li class='sub-menu'><a href='#'>Movimentação<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'atendimento:atendimento' %}'>Atendimento</a></li>
                <li><a href='#'>Histórico de Atendimentos</a></li>
                {% comment %} <li><a href='{% url 'home:listLocal' %}'>Unidades de Atendimento</a></li>
                <li><a href='{% url 'home:listProfessional' %}'>Profissionais</a></li>  {% endcomment %}
            </ul>
    </ul>