    <ul>
        <li><a href='{% url 'estoque:index' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Cadastros<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'estoque:listInsumo' %}'>Insumos</a></li>
            </ul>
        </li>
        <li class='sub-menu'><a href='{% url 'estoque:listMovimentacaoInsumo' %}'>Movimentação<div class='fa fa-caret-down right'></div></a>
        </li>
        <li><a href='{% url 'home:logoutUser' %}'>Logout</a></li>
    </ul>