{% extends 'global/base.html' %}

{% block nav_lateral %}
  {% include 'partials/_nav_estoque.html' %}
{% endblock nav_lateral %}

{% block head_base %}
<style>
  .btn-movimentacao {
    border: none;
    background: none;
    width: 70px; 
    height: 70px; 
    margin: 0 10px;
    transition: all 0.3s ease; 
  }
  .btn-movimentacao:hover {
    transform: scale(1.2); 
  }
  .btn-movimentacao.hover-effect:hover {
    transform: none; 
  }
  select option.destaqueOption {
    background-color: rgba(165, 0, 39);
    color: white;
    text-align: center;
  }
  .btn-historico {
    border: none;
    background: none;
    width: 50px; 
    height: 50px; 
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  .btn-historico:hover {
    transform: translateX(-10px); 
  }
  #img-place-cards{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    font-family: 'Nunito', sans-serif;
  }
  #img-place-cards.active {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
  }
</style>
{% endblock head_base %}

{% block content %}
<form id="form-movimentacao" action="{{form_action}}" method="post">
  {% csrf_token %}
  <div style="height: 90vh; width: 82vw; position: relative;">
    <div class="row">
      <div style="margin-left:1%; background: white; width: 35vw; height: 89vh;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);">
        <div style="margin-top:1vh;">
          <div class="row">
            <div class="col">
              {{formMovimentacao.data.label}}
              {{formMovimentacao.data}}   
            </div>
            <div class="col">
              {{formMovimentacao.local.label}}
              {{formMovimentacao.local}}    
            </div>
          </div>
        </div> 
        <div style="margin-top:1vh;">
          {{formMovimentacao.tipoMovimentacao.label}}
          {{formMovimentacao.tipoMovimentacao}}    
        </div>
        <div hidden style="margin-top:1vh;">
          <input id="id_operacao" name="operacao" type="text">   
        </div>
        <div style="margin-top:1vh;" hidden>
          {{formMovimentacao.eClient.label}}
          <input type="text" placeholder="Digite um nome ..." id="searchButtonCliente" class="form-control">  
          <select hidden name="eClient" class="form-control" required id="id_eClient">        
          </select>  
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <button title='Entrada' class="btn-movimentacao" type="button" id="btn-entrada">
            <img src="/media/estoque/btn-icon-entrada-inativo.png">
          </button>
          <button title='Saída' class="btn-movimentacao" type="button" id="btn-saida">
            <img src="/media/estoque/btn-icon-saida-inativo.png">
          </button>
        </div>
        <div style="position: absolute; bottom: 2vh; width: 34vw;">
          {{formMovimentacao.observacao.label}}
          {{formMovimentacao.observacao}}    
        </div>
      </div>
      <div style="padding:1%; margin-left:1%; background: white; width: 45vw; height: 89vh;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);overflow-y:auto;">
        <div id="img-place-cards">
          <span style="margin-bottom: 10px;"><b>Vamos começar a Movimentar!</b></span>
          <img src="/media/estoque/estoque.png" alt="estoque">
        </div>
        <div hidden id="card-entrada" style="margin-top:1vh;">
          <h5>ENTRADA DE INSUMOS</h5>
          {% include 'estoque/movimentacao/pages_movimentacao/entrada_de_insumos.html' %}
        </div>
        <div hidden id="card-saida" style="margin-top:1vh;">
          <h5>SAÍDA DE INSUMOS</h5>
          <div class="text-end">
              <h5 id="message" style="color: #007BFF; font-family: 'Arial', sans-serif; font-size: 18px;"></h5>
          </div>
          {% include 'estoque/movimentacao/pages_movimentacao/saida_de_insumos.html' %}
        </div>
      </div>
    </div>
    <button class="btn-movimentacao"style="display: inline-block; position: absolute; bottom: 1vh; right: 1vw; height:80px; width:80px;">
      <img src="/media/btn-gravar.png">
    </button>
  </div>  
</form>
<script>
$(document).ready(function(){
  // localizando o paciente | Controle
  $('#searchButtonCliente').on('change', function(){
    var clientes;
    var client_select = $('#id_eClient');
    var cliente = $(this).val();
    if(cliente!=''){
        clientes = $.ajax({
            url: "{% url 'atendimento:getJSONclient' %}?searchClient=" + cliente,   
            type: "get",     
            async: false,  
            data: $("#search").serialize(),    
            success: function (data){
                data_clients = data.results 
            },                 
        });
    };
    /// Identificando se a busca retornou algo
    if(clientes.responseJSON.results[0]!=null){
      $(this).prop('hidden', true);
      $(client_select).prop('hidden', false);
    } else {
      $(this).val('');
    }
    /// iniciando a inclusão dos clientes localizados no select
    client_select.empty();
    var defaultOption = $('<option></option>').val('').html('Selecione um cliente').prop('selected', true);
    client_select.append(defaultOption);
    for (const key in clientes.responseJSON.results){
        client_select.append(
            $('<option></option>').val(clientes.responseJSON.results[key].id).html(clientes.responseJSON.results[key].first_name + " " + clientes.responseJSON.results[key].last_name)
        );
    }
    client_select.append($('<option></option>').val('pesquisa').html('+ Nova pesquisa').addClass('destaqueOption'));
  })
  /// verificar se campo de seleção do cliente, é uma nova busca
  $('#id_eClient').on('change', function(){
    if($(this).val()=='pesquisa'){
      $(this).prop('hidden', true);
      $('#searchButtonCliente').val('');
      $('#searchButtonCliente').prop('hidden', false);
    }
  })

  // desabilita botões de movimentação ENTRADA / SAÍDA até que seja selecionado um local
  $('#id_local').on('change', function(){
    if ($('#id_local').val() == '') {
      $('#btn-entrada').prop('disabled', true);
      $('#btn-saida').prop('disabled', true);
      $('#card-entrada').prop('hidden', true);
      $('#card-saida').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
      $('#btn-entrada img').attr('src', '/media/estoque/btn-icon-entrada-inativo.png');
      $('#btn-saida img').attr('src', '/media/estoque/btn-icon-saida-inativo.png');
      $('.btn-movimentacao').css('transition', 'none');
      $('.btn-movimentacao').addClass('hover-effect');
    } else {
      $('#btn-entrada').prop('disabled', false);
      $('#btn-saida').prop('disabled', false);
      $('#btn-entrada img').attr('src', '/media/estoque/btn-icon-entrada.png');
      $('#btn-saida img').attr('src', '/media/estoque/btn-icon-saida.png');
      $('.btn-movimentacao').css('transition', 'all 0.3s ease');
      $('.btn-movimentacao').removeClass('hover-effect');
    }
  });
  $('#id_local').trigger('change');

  // controle exibição de cards no place
  $('#btn-entrada').on('click', function(){
    var divEntrada = document.getElementById('card-entrada'); 

    if (divEntrada && divEntrada.hidden) {
      $('#card-entrada').prop('hidden', false);
      $('#card-saida').prop('hidden', true);
      $('#img-place-cards').prop('hidden', true);
      $('.form-row-entrada').find(':input').each(function() {
        $(this).prop('required', true);
      }); 
      $('.form-row-entrada').find('[name$=-DELETE]').each(function() {
        $(this).prop('required', false);
      });
      $('.form-row-saida').find(':input').each(function() {
        $(this).prop('required', false);
      }); 
    } else {
      $('#card-entrada').prop('hidden', true);
      $('#card-saida').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
    }

    // limpando card de SAIDAS caso alterado para operacao tipo SAIDA
    var conditionRow = $('.form-row-saida:not(:first)');
    conditionRow.remove()
    $('.form-row-saida').find(':input').each(function() {
      var nameCampo = $(this).attr('name');
      if (!(nameCampo && (nameCampo.endsWith('-dataEntrada') || nameCampo.endsWith('-valorTotal') || nameCampo.endsWith('-dataValidade')))) {
        $(this).val('');
      }
    });
    $('.form-row-saida').find('select').each(function() {
      var id = $(this).attr('id');
      if (id && id.endsWith('myItems')) {
        $(this).empty();
      }
      $(this).prop('selectedIndex', 0);
    });

    // se clicado em entrada, atribui 'entrada' para o campo input 'id_operacao'
    $('#id_operacao').val('Entrada') 
    
    //ajuste layout para opçao de SAIDA
    $('[id$=-valorUnitario]').prop( "readonly", false );
  })

  $('#btn-saida').on('click', function(){
    var divSaida = document.getElementById('card-saida'); 

    if (divSaida && divSaida.hidden) {
      $('#card-saida').prop('hidden', false);
      $('#card-entrada').prop('hidden', true);
      $('#img-place-cards').prop('hidden', true);
      $('.form-row-saida').find(':input').each(function() {
        $(this).prop('required', true);
      }); 
      $('.form-row-saida').find('[name$=-DELETE]').each(function() {
        $(this).prop('required', false);
      });
      $('.form-row-entrada').find(':input').each(function() {
        $(this).prop('required', false);
      }); 
    } else {
      $('#card-saida').prop('hidden', true);
      $('#card-entrada').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
    }

    // limpando card de ENTRADA caso alterado para operacao tipo ENTRADA
    var conditionRow = $('.form-row-entrada:not(:first)');
    conditionRow.remove()
    $('.form-row-entrada').find(':input').each(function() {
      var nameCampo = $(this).attr('name');
      if (!(nameCampo && (nameCampo.endsWith('-dataEntrada') || nameCampo.endsWith('-valorTotal') || nameCampo.endsWith('-dataValidade')))) {
        $(this).val('');
      }
      if (nameCampo && nameCampo.endsWith('-valorCompra')){
        $(this).prop('readonly', true);
      }
    });    
    $('.form-row-entrada').find('select').each(function() {
      $(this).prop('selectedIndex', 0);
    });  

    // se clicado em saída, atribui 'saida' para o campo input 'id_operacao'
    $('#id_operacao').val('Saída')   

    //ajuste layout para opçao de SAIDA
    $('[id$=-valorUnitario]').prop( "readonly", true );
  })

  // desabilita o envio dos campos da outra movimentacao
  $('#form-movimentacao').submit(function(){
    operacao = $('#id_operacao').val()
    if (operacao == 'Saída'){
      $('#card-entrada :input').prop('disabled', true);
    }else{
      $('#card-saida :input').prop('disabled', true);
    }
  });

  //ação ao selecionar tipo de movimentacao
  $('#id_tipoMovimentacao').on('change', function(){
    if ($('#id_tipoMovimentacao').children("option:selected").val() == 'venda' || $('#id_tipoMovimentacao').children("option:selected").val() == 'doacao') {
        $('#id_eClient').parent().prop('hidden', false);
        $('#btn-entrada img').attr('src', '/media/estoque/btn-icon-entrada-inativo.png');
        $('#btn-entrada').prop('disabled', true);
        $('#card-entrada').prop('hidden', true);
        $('#card-saida').prop('hidden', true);
        $('#img-place-cards').prop('hidden', false);
        $('#btn-entrada.btn-movimentacao').css('transition', 'none');
        $('#btn-entrada.btn-movimentacao').addClass('hover-effect');
    }else{
        $('#id_eClient').parent().prop('hidden', true);
        $('#btn-entrada img').attr('src', '/media/estoque/btn-icon-entrada.png');
        $('#btn-entrada').prop('disabled', false);
        $('#btn-entrada.btn-movimentacao').css('transition', 'all 0.3s ease');
        $('#btn-entrada.btn-movimentacao').removeClass('hover-effect');
        $('#id_eClient').prop('selectedIndex', 0);
    }
    $('#id_eClient').trigger('change');
  });
})
</script>
{% endblock content %}
