{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_estoque.html' %}{% endblock nav_lateral %}

{% block head_base %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/global/partials/jquery.mask.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script>
    $(document).ready(function($){
        $('.mask-date').mask('00/00/0000');  
        $('.mask-money').mask("#.##0,00", {reverse: true});
        $('.mask-int').mask('0#');
        $(document).on("focus", ".mask-date", function() {
            $(this).mask('00/00/0000');
        });
        $(document).on("focus", ".mask-money", function() {
            $(this).mask("#.##0,00", {reverse: true});
        });

        // buscar dados do client, chamando a view
        $("#id_local").change(function(){
            var local = $(this).children("option:selected").val();
            if(local!=''){
              window.location.replace("{% url 'estoque:movimentacaoInsumoEntrada' %}?searchLocal=" + local);
            }
        });
        //obter valor parametro searchLocal (control select)
        var url_string = window.location.href; 
        var url = new URL(url_string);
        var paramValue = url.searchParams.get("searchLocal");
        $('#id_local option').each(function() {
          if($(this).val() == paramValue) {
            $(this).attr('selected', true);
          }
        });

        var conditionRow = $('.form-row:not(:first)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');

        var items_estoque;
        var local = $("#id_local").children("option:selected").val();
        if(local!=''){
            items_estoque = $.ajax({
                url: "{% url 'estoque:getJSONitem' %}?searchLocal=" + local,   
                type: "get",     
                async: false,  
                data: $("#search").serialize(),    
                success: function (data){
                    data_items = data.results 
                    console.log(data_items)
                },                 
            });
        };

        //se a operacao for saída, redireciona a página
        $("#id_operacao").change(function(){
            var operacao = $(this).children("option:selected").val();
            if(operacao=="Saída"){
              window.location.replace("{% url 'estoque:movimentacaoInsumoSaida' %}");
            }
        });

        //dar sequencia
        console.log(items_estoque.responseJSON.results[0].insumo_id);
    });

    function parsePotentiallyGroupedFloat(stringValue) {
        stringValue = stringValue.trim();
        var result = stringValue.replace(/[^0-9]/g, '');
        if (/[,\.]\d{2}$/.test(stringValue)) {
            result = result.replace(/(\d{2})$/, '.$1');
        }
        return parseFloat(result);
    };
    $(document).on('change', '[id$=-valorUnitario]', function(e){
        valor = $(this).val()
        valorConvertido = parsePotentiallyGroupedFloat(valor)
        quantidade = $(this).parent().parent().find('[id$=-quantidade]').val()
        calculo = valorConvertido * quantidade
        $(this).parent().parent().find('[id$=-valorTotal]').val(calculo.toFixed(2))
    });
    $(document).on('change', '[id$=-quantidade]', function(e){
        valor = $(this).parent().parent().find('[id$=-valorUnitario]').val()
        valorConvertido = parsePotentiallyGroupedFloat(valor)
        quantidade = $(this).val()
        calculo = valorConvertido * quantidade
        $(this).parent().parent().find('[id$=-valorTotal]').val(calculo.toFixed(2))
    });    
</script>
{% endblock head_base %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <h3>{{name_screen}}</h3>
    <form action="{{form_action}}" method="post" class="container-all form-horizontal" id="search">
        {% csrf_token %}
        {% comment "movimentacao" %}Formulario Movimentacao{% endcomment %}
        <div class="row align-items-center">
            {% for field in formMov %}
                <div class="col"> 
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> <br>
                    {{ field }}
                </div>  
            {% endfor %}
        </div> <br>


        {% comment "insumo" %}Formulario Item{% endcomment %}
        <div style="width: 100%;height: 600px;overflow-y: auto;">
            {{formIte.management_form}}
            {% for form in formIte %} 
                <div class="form-row ps-3 pe-3 pt-2">
                    <div class="row">
                        <div class="input-group-text d-flex align-items-start">
                            <div class="col-2 ms-2"> 
                                {{form.errors}}
                                <td class="hidden">{{ form.id }}</td>
                                <label for="{{ form.insumo.id_for_label }}" class="form-label d-flex align-items-start">{{ form.insumo.label }}</label>
                                {{form.insumo}} 
                            </div> 
                            <div class="col-1 ms-2" id="field_quantidade">    
                                <label for="{{ form.quantidade.id_for_label }}" class="form-label d-flex align-items-start">{{ form.quantidade.label }}</label>
                                {{form.quantidade}}  
                            </div> 
                            <div hidden class="col-1 ms-2">    
                                <label for="{{ form.dataEntrada.id_for_label }}" class="form-label d-flex align-items-start">{{ form.dataEntrada.label }}</label>
                                {{form.dataEntrada}}  
                            </div> 
                            <div hidden class="col-1 ms-2">    
                                <label for="{{ form.local.id_for_label }}" class="form-label d-flex align-items-start">{{ form.local.label }}</label>
                                {{form.local}}  
                            </div> 
                            <div class="col-1 ms-2"> 
                                <label for="{{ form.valorUnitario.id_for_label }}" class="form-label d-flex align-items-start">{{ form.valorUnitario.label }}</label>
                                {{form.valorUnitario}} 
                            </div> 
                            <div class="col-1 ms-2">    
                                <label for="{{ form.valorTotal.id_for_label }}" class="form-label d-flex align-items-start">{{ form.valorTotal.label }}</label>
                                {{form.valorTotal}}  
                            </div> 
                            <div class="col-2 ms-2"> 
                                <label for="{{ form.dataValidade.id_for_label }}" class="form-label d-flex align-items-start">{{ form.dataValidade.label }}</label>
                                {{form.dataValidade}} 
                            </div> 
                            <div class="col-4 ms-2">    
                                <label for="{{ form.serie.id_for_label }}" class="form-label d-flex align-items-start">{{ form.serie.label }}</label>
                                {{form.serie}}  
                            </div> 
                            <div hidden class="col-4 ms-1">    
                                <label for="{{ form.aAObserv.id_for_label }}" class="form-label d-flex align-items-start">{{ form.DELETE.label }}</label>
                                {{form.DELETE}}  
                            </div> 
                            
                            <div class="col mt-3"> 
                                <button class="btn btn-success add-form-row">+</button> 
                            </div>   
                        </div>                      
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="position: absolute; bottom: 22%; margin-left: 1em;">        
            <button class="btn btn-success" type="submit">Gravar</button>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true, true);
        var total = $('#id_' + prefix + '_set-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
            }
        });
        function GetTodayDate() {
            var tdate = new Date();
            var dd = tdate.getDate().toString().padStart(2, "0"); //yields day
            var MM = (tdate.getMonth() + 1).toString().padStart(2, "0"); //yields month
            var yyyy = tdate.getFullYear(); //yields year
            var currentDate= dd + "/" + MM + "/" + yyyy;
         
            return currentDate;
        }
        newElement.find('[name$=-valorUnitario]').each(function() {
            $(this).val('0,00')
        });
        newElement.find('[name$=-valorTotal]').each(function() {
            $(this).val('0,00')
        });
        newElement.find('[name$=-dataValidade]').each(function() {
            $(this).val(GetTodayDate())
        });
        newElement.find('[name$=-dataEntrada]').each(function() {
            $(this).val('01/01/2000') 
        });
        newElement.find('[name$=-local]').each(function() {
            $(this).prop("selectedIndex", 0).val();
        });
        //newElement.find('[id$=-dataValidade]')each(function(e){
        //$(selector).on("click", function(){
        //    $('.mask-date').mask('00/00/0000');  
            //$('.mask-money').mask("#.##0,00", {reverse: true});
        //}) 
        //$(function($){
        //    $('.mask-date').mask('00/00/0000');  
        //    $('.mask-money').mask("#.##0,00", {reverse: true});
        //})
        total++;
        $('#id_' + prefix + '_set-TOTAL_FORMS').attr('value', total);
        $(selector).before(newElement);
        var conditionRow = $('.form-row:not(:first)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '_set-TOTAL_FORMS').val());
        if (total > 1){
            var divFind = btn.parents('.form-row');
            var elementFind = divFind.find("input[name$='serie']");
            var numberElement = elementFind.attr('name').replace(/[^0-9]/g,'')
            document.getElementById("id_" + prefix + "_set-" + numberElement + "-DELETE").checked = true;

            btn.closest('.form-row').hide();

            var forms = $('.form-row');
            $('#id_' + prefix + '_set-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:first', 'itensinsumomodel');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('itensinsumomodel', $(this));
        return false;
    });
</script>
{% endblock content %}