{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_estoque.html' %}{% endblock nav_lateral %}

{% block head_base %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/global/partials/jquery.mask.min.js"></script>
<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
<script>
    $(document).ready(function($){
        $('.mask-date').mask('00/00/0000');  
        $('.mask-money').mask("#.##0,00", {reverse: true});
        $('.mask-int').mask('0#');
        $(document).on("focus", ".mask-date", function() {j
            $(this).mask('00/00/0000');
        });
        $(document).on("focus", ".mask-money", function() {
            $(this).mask("#.##0,00", {reverse: true});
        });

        // buscar dados do client, chamando a view
        $("#id_local").change(function(){
            var local = $(this).children("option:selected").val();
            if(local!=''){
                window.location.replace("{% url 'estoque:movimentacaoInsumoSaida' %}?searchLocal=" + local);
            }else{
                $('#id_tipoMovimentacao').prop('disabled', true)
                $('#id_data').prop('disabled', true)
            }
        });

        //obter valor parametro searchLocal (control select)
        var url_string = window.location.href; 
        var url = new URL(url_string);
        var paramValue = url.searchParams.get("searchLocal");
        $('#id_local option').each(function() {
          if($(this).val() == paramValue) {
            $(this).attr('selected', true);
          }
        });

        //verifica se há um local selecionado, caso contrário bloqueia campos
        if (paramValue){
            $('#id_tipoMovimentacao').prop('disabled', false)
            $('#id_data').prop('disabled', false)
        }else{
            $('#id_tipoMovimentacao').prop('disabled', true)
            $('#id_data').prop('disabled', true)
        }

        var conditionRow = $('.form-row:not(:first)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');

        $('#id_operacao option').each(function() {
            paramValue = "Saída";
            if($(this).val() == paramValue) {
              $(this).attr('selected', true);
            }
        });

        //ajuste layout para opçao de SAIDA
        $('[id$=-valorUnitario]').prop( "readonly", true );

        //se a operacao for entrada, redireciona a página
        $("#id_operacao").change(function(){
            var operacao = $(this).children("option:selected").val();
            if(operacao=="Entrada"){
              window.location.replace("{% url 'estoque:movimentacaoInsumoEntrada' %}");
            }
        });

        //ação ao selecionar cliente
        var itens_cliente;
        var mensagem;
        $(document).on('change', '#id_eClient', function(e){
            var cliente = $("#id_eClient").children("option:selected").val();
            var tipoMovimentacao = $("#id_tipoMovimentacao").children("option:selected").val();
            
            if (cliente !== '') {
                var ajaxPromise = $.ajax({
                    url: "{% url 'estoque:getJSONclient' %}?searchClient=" + cliente + "&tipoMovimentacao=" + tipoMovimentacao,
                    type: "get",
                    data: $("#search").serialize(),
                });
                
                ajaxPromise.done(function (data) {
                    itens_cliente = data.results;
                    mensagem = data.mensagem;
                    if(mensagem){
                        $('#message').text(mensagem)
                    } else{
                        $('#message').text('')
                    }
                });
                
                ajaxPromise.fail(function (jqXHR, textStatus, errorThrown) {
                    console.error("Erro na requisição AJAX: " + textStatus, errorThrown);
                });
            }
        });

        var itens_estoque;
        var local = $("#id_local").children("option:selected").val();
        if(local!=''){
            itens_estoque = $.ajax({
                url: "{% url 'estoque:getJSONitem' %}?searchLocal=" + local,   
                type: "get",     
                async: false,  
                data: $("#search").serialize(),    
                success: function (data){
                    data_items = data.results 
                },                 
            });
        };

        //ação ao selecionar insumo
        $(document).on('change', '[id$=-insumo]', function(e){
            var local = $("#id_local").children("option:selected").val();
            var insumo = $(this).parent().parent().find('[id$=-insumo]').val();
            var mySelect = $(this).parent().parent().find('[id=myItems]');
            mySelect.empty();
            for (const key in itens_estoque.responseJSON.results){
                if(itens_estoque.responseJSON.results[key].local_id==local && itens_estoque.responseJSON.results[key].insumo_id==insumo){
                    mySelect.append(
                        $('<option></option>').val(itens_estoque.responseJSON.results[key].serie).html('Serie/Lote: ' + itens_estoque.responseJSON.results[key].serie)
                    );
                }
            }
            
            var div_Items = mySelect.parent().parent().find('#div_myItems');
            if (mySelect.val()==''){
                div_Items.prop('hidden', true);
            } else{
                div_Items.prop('hidden', false);
            }
            $(mySelect).trigger( "change" );
        });  

        var up = $('#isUpdate').val();
        //ação ao selecionar lote do insumo
        $(document).on('change', '[id=myItems]', function(e){
            var disponivel = $(this).parent().parent().find('[id=disponivel]');
            var valorUnitario = $(this).parent().parent().find('[id$=-valorUnitario]');
            var valorTotal = $(this).parent().parent().find('[id$=-valorTotal]');
            var divSerie = $(this).parent().parent().find('[id=div_serie]');
            var serie = $(this).parent().parent().find('[id$=-serie]');
            serie.val($(this).val());
            for (const key in itens_estoque.responseJSON.results){
                if(itens_estoque.responseJSON.results[key].serie==serie.val()){
                    disponivel.val(itens_estoque.responseJSON.results[key].quantidade);
                    valorUnitario.val(itens_estoque.responseJSON.results[key].valorUnitario);
                    valorTotal.val(itens_estoque.responseJSON.results[key].valorTotal);
                    serie.prop('required', true)
                    if (up == 0){
                        serie.val(itens_estoque.responseJSON.results[key].serie);
                    }
                    break
                } else if (itens_estoque.responseJSON.results[key].serie==null) {
                    disponivel.val(itens_estoque.responseJSON.results[key].quantidade);
                    valorUnitario.val(itens_estoque.responseJSON.results[key].valorUnitario);
                    valorTotal.val(itens_estoque.responseJSON.results[key].valorTotal);
                    serie.prop('required', false)
                    break
                }
                
            }

            var selectVar = $(this).val()
            if (selectVar == null){
                disponivel.val(0);
                valorUnitario.val(0.0);
                valorTotal.val(0.0);
            }
        });  

        //ação ao selecionar tipo de movimentacao
        $('#id_tipoMovimentacao').on('change', function(){
            if ($('#id_operacao').children("option:selected").val() == 'Saída') {
                $("#id_tipoMovimentacao option[value='compra']").remove();
            }
            if ($('#id_tipoMovimentacao').children("option:selected").val() == 'venda' || $('#id_tipoMovimentacao').children("option:selected").val() == 'doacao') {
                $('#id_eClient').parent().parent().prop('hidden', false);
            }else{
                $('#id_eClient').parent().parent().prop('hidden', true);
            }
            $('#id_eClient').trigger('change');
        });       
        $('#id_tipoMovimentacao').trigger('change');

        //ação ao enviar Formulario
        $('#search').on('submit', function() {
            $('[id$=-insumo]').prop('disabled', false);
        });

        if (up == 0){
            $('[id$=-insumo]').val(0)
            $('[id$=-quantidade]').val(0)
        }else{
            $('[id$=-insumo]').trigger( "change" );
            $('input').each(function() {
                $(this).prop("disabled", true);
            });
            $('select').each(function() {
                $(this).prop("disabled", true);
            });
            var serie = $('[id$=-insumo]').parent().parent().find('[id$=-serie]').val();
            $('#myItems option').each(function() {
                paramValue = serie;
                if($(this).val() == paramValue) {
                  $(this).attr('selected', true);
                }
            });
            $('#btnGravar').each(function() {
                $(this).prop("hidden", true);
            });
            $('[id$=btnAddRow]').each(function() {
                $(this).prop("hidden", true);
            });
        }
    })

    function parsePotentiallyGroupedFloat(stringValue) {
        stringValue = stringValue.trim();
        var result = stringValue.replace(/[^0-9]/g, '');
        if (/[,\.]\d{2}$/.test(stringValue)) {
            result = result.replace(/(\d{2})$/, '.$1');
        }
        return parseFloat(result);
    }
    $(document).on('change', '[id$=-valorUnitario]', function(e){
        valor = $(this).val()
        valorConvertido = parsePotentiallyGroupedFloat(valor)
        quantidade = $(this).parent().parent().find('[id$=-quantidade]').val()
        calculo = valorConvertido * quantidade
        $(this).parent().parent().find('[id$=-valorTotal]').val(calculo.toFixed(2))
    });
    $(document).on('change', '[id$=-quantidade]', function(e){
        valor = $(this).parent().parent().find('[id$=-valorUnitario]').val()
        valorConvertido = parsePotentiallyGroupedFloat(valor)
        quantidade = $(this).val()
        calculo = valorConvertido * quantidade
        $(this).parent().parent().find('[id$=-valorTotal]').val(calculo.toFixed(2))
    });  
      
</script>
{% endblock head_base %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <div class="row">
        <div class="col-6">
            <h3>{{name_screen}}</h3> 
        </div>
        <div class="col mt-3">
            <div class="text-end">
                <h5 id="message" style="color: #007BFF; font-family: 'Arial', sans-serif; font-size: 18px;"></h5>
            </div>
        </div>
    </div>
    <form action="{{form_action}}" method="post" class="container-all form-horizontal" id="search">
        {% csrf_token %}
        {% comment "movimentacao" %}Formulario Movimentacao{% endcomment %}
        {% for field in formMov %}
            {% if field.name == 'operacao' or field.name == 'eClient' %}  
                <div class="row align-items-center">
            {% endif %}      
                {% if field.name == 'eClient' %}
                    <div class="col">                 
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> <br>
                        <div class="input-group">
                            <div style="width: 300px !important;">
                                <input type="text" class="form-control" placeholder="Digite um nome" id="input_aClient" name="input_aClient">
                            </div>
                            {{field}}
                            <div class="input-group-append">
                                <button id="searchButtonCliente" class="btn btn-outline-secondary" type="button" title="Buscar">🔎</button>
                            </div>
                            <div class="input-group-append">
                                <button id="newSearchButtonCliente" class="btn btn-outline-secondary" type="button" title="Nova Busca">🪄</button>
                            </div>
                        </div>
                    </div> 
                {% else %}
                    <div class="col"> 
                        <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> <br>
                        {{ field }}
                    </div>  
                {% endif %}
            {% if field.name == 'tipoMovimentacao' or field.name == 'eClient' %}    
                </div> <br>
            {% endif %}
        {% endfor %}
        {% comment "insumo" %}Formulario Item{% endcomment %}
        <div style="width: 100%;height: 500px;overflow-y: auto;">
            {{formIte.management_form}}
            {% for form in formIte %} 
                <div class="form-row ps-3 pe-3 pt-2">
                    <div class="row">
                        <div class="input-group-text d-flex align-items-start">
                            <input id="isUpdate" type="int" value="{{isUpdate}}" hidden>                                
                            <div class="col-4 ms-2"> 
                                {{form.errors}}
                                <td class="hidden">{{ form.id }}</td>
                                <label for="{{ form.insumo.id_for_label }}" class="form-label d-flex align-items-start">{{ form.insumo.label }}</label>
                                {{form.insumo}} 
                            </div> 
                            <div class="col-4 ms-2" id="div_myItems"> 
                                <label class="form-label d-flex align-items-start">Serie/Lote</label>
                                <select id='myItems' class="form-control required">                                    
                                </select> 
                            </div>
                            <div class="col-1 ms-2" id="field_quantidade">    
                                <label for="{{ form.quantidade.id_for_label }}" class="form-label d-flex align-items-start">{{ form.quantidade.label }}</label>
                                {{form.quantidade}}  
                            </div> 
                            <div class="col-1 ms-2"> 
                                <label class="form-label d-flex align-items-start">Disponível</label>
                                <input class="form-control" id="disponivel" placeholder="0" disabled></input>
                            </div> 
                            <div class="col-1 ms-2"> 
                                <label for="{{ form.valorUnitario.id_for_label }}" class="form-label d-flex align-items-start">{{ form.valorUnitario.label }}</label>
                                {{form.valorUnitario}} 
                            </div> 
                            <div hidden class="col-1 ms-2">    
                                <label for="{{ form.dataEntrada.id_for_label }}" class="form-label d-flex align-items-start">{{ form.dataEntrada.label }}</label>
                                {{form.dataEntrada}}  
                            </div> 
                            <div hidden class="col-1 ms-2">    
                                <label for="{{ form.local.id_for_label }}" class="form-label d-flex align-items-start">{{ form.local.label }}</label>
                                {{form.local}}  
                            </div> 
                            <div hidden class="col-1 ms-2">    
                                <label for="{{ form.valorTotal.id_for_label }}" class="form-label d-flex align-items-start">{{ form.valorTotal.label }}</label>
                                {{form.valorTotal}}  
                            </div> 
                            <div hidden class="col-2 ms-2"> 
                                <label for="{{ form.dataValidade.id_for_label }}" class="form-label d-flex align-items-start">{{ form.dataValidade.label }}</label>
                                {{form.dataValidade}} 
                            </div> 
                            <div hidden class="col-4 ms-2">    
                                <label for="{{ form.serie.id_for_label }}" class="form-label d-flex align-items-start">{{ form.serie.label }}</label>
                                {{form.serie}}  
                            </div> 
                            <div hidden class="col-4 ms-1">    
                                <label for="{{ form.aAObserv.id_for_label }}" class="form-label d-flex align-items-start">{{ form.DELETE.label }}</label>
                                {{form.DELETE}}  
                            </div> 
                            
                            <div class="col mt-3">
                                <div class="text-end"> 
                                    <button id="btnAddRow" class="btn btn-success add-form-row">+</button>
                                </div>
                            </div>    
                        </div>                      
                    </div>
                </div>
            {% endfor %}
        </div>
        <div style="position: absolute; bottom: 22%; margin-left: 1em;">        
            <button id="btnGravar" class="btn btn-success" type="submit">Gravar</button>
            <a href="{% url 'estoque:listMovimentacaoInsumo' %}" class="btn btn-primary" type="submit">Voltar</a>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script type="text/javascript">
    function updateElementIndex(el, prefix, ndx) {
        var id_regex = new RegExp('(' + prefix + '-\\d+)');
        var replacement = prefix + '-' + ndx;
        if ($(el).attr("for")) $(el).attr("for", $(el).attr("for").replace(id_regex, replacement));
        if (el.id) el.id = el.id.replace(id_regex, replacement);
        if (el.name) el.name = el.name.replace(id_regex, replacement);
    }
    function cloneMore(selector, prefix) {
        var newElement = $(selector).clone(true, true);
        var total = $('#id_' + prefix + '_set-TOTAL_FORMS').val();
        newElement.find(':input:not([type=button]):not([type=submit]):not([type=reset])').each(function() {
            var name = $(this).attr('name')
            if(name) {
                name = name.replace('-' + (total-1) + '-', '-' + total + '-');
                var id = 'id_' + name;
                $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
            }
        });
        newElement.find('label').each(function() {
            var forValue = $(this).attr('for');
            if (forValue) {
            forValue = forValue.replace('-' + (total-1) + '-', '-' + total + '-');
            $(this).attr({'for': forValue});
            }
        });
        function GetTodayDate() {
            var tdate = new Date();
            var dd = tdate.getDate().toString().padStart(2, "0"); //yields day
            var MM = (tdate.getMonth() + 1).toString().padStart(2, "0"); //yields month
            var yyyy = tdate.getFullYear(); //yields year
            var currentDate= dd + "/" + MM + "/" + yyyy;
         
            return currentDate;
        }
        newElement.find('[name$=-valorUnitario]').each(function() {
            $(this).val('0,00')
        });
        newElement.find('[name$=-valorTotal]').each(function() {
            $(this).val('0,00')
        });
        newElement.find('[name$=-dataValidade]').each(function() {
            $(this).val(GetTodayDate())
        });
        newElement.find('[name$=-dataEntrada]').each(function() {
            $(this).val('01/01/2000') 
        });
        newElement.find('[name$=-local]').each(function() {
            $(this).prop("selectedIndex", 0).val();
        });
        newElement.find('[id=myItems]').each(function() {
            $(this).empty();
        });
        newElement.find('[id=disponivel]').each(function() {
            $(this).val(0);
        });
        total++;
        $('#id_' + prefix + '_set-TOTAL_FORMS').attr('value', total);
        $(selector).before(newElement);
        var conditionRow = $('.form-row:not(:first)');
        conditionRow.find('.btn.add-form-row')
        .removeClass('btn-success').addClass('btn-danger')
        .removeClass('add-form-row').addClass('remove-form-row')
        .html('-');
        return false;
    }
    function deleteForm(prefix, btn) {
        var total = parseInt($('#id_' + prefix + '_set-TOTAL_FORMS').val());
        if (total > 1){
            var divFind = btn.parents('.form-row');
            var elementFind = divFind.find("input[name$='serie']");
            var numberElement = elementFind.attr('name').replace(/[^0-9]/g,'')
            document.getElementById("id_" + prefix + "_set-" + numberElement + "-DELETE").checked = true;

            btn.closest('.form-row').hide();

            var forms = $('.form-row');
            $('#id_' + prefix + '_set-TOTAL_FORMS').val(forms.length);
            for (var i=0, formCount=forms.length; i<formCount; i++) {
                $(forms.get(i)).find(':input').each(function() {
                    updateElementIndex(this, prefix, i);
                });
            }
        }
        return false;
    }
    $(document).on('click', '.add-form-row', function(e){
        e.preventDefault();
        cloneMore('.form-row:first', 'itensinsumomodel');
        return false;
    });
    $(document).on('click', '.remove-form-row', function(e){
        e.preventDefault();
        deleteForm('itensinsumomodel', $(this));
        return false;
    });
    $(document).ready(function() {
        // Aplicar a máscara de dinheiro quando o campo perde o foco
        $('.mask-money').on('blur', function() {
            var valor = $(this).val();
            // Verificar se o valor tem apenas um número
            if (/^\d+$/.test(valor)) {
                // Converter para 2 casas decimais com a máscara
                $(this).val(parseFloat(valor).toFixed(2)).maskMoney({ thousands: '.', decimal: ',', precision: 2, allowZero: true });
            }
        });

        var client_select = $('#id_eClient');

        // condições para liberações de input e limpeza do campo select clientes
        var url_string = window.location.href; 
        var url = new URL(url_string);
        var afterLocalitionClient = url.searchParams.get("searchClient");
        if (!afterLocalitionClient){
            client_select.empty();
            $('#searchButtonCliente').prop("disabled", false);
            $('#input_aClient').prop("disabled", false);
        }else{
            $('#input_aClient').prop("disabled", true);
        }
        
        $('#searchButtonCliente').on('click', function(){
            var clientes;
            var cliente = $("#input_aClient").val();
            if(cliente!=''){
                clientes = $.ajax({
                    url: "{% url 'atendimento:getJSONclient' %}?searchClient=" + cliente,   
                    type: "get",     
                    async: false,  
                    data: $("#search").serialize(),    
                    success: function (data){
                        data_clients = data.results 
                    },                 
                });
            };
            if(clientes){
                $('#id_eClient').prop("disabled", false);
            }
            client_select.empty();
            var defaultOption = $('<option></option>').val('null').html('Selecione um cliente ...').prop('selected', true);
            client_select.append(defaultOption);
            for (const key in clientes.responseJSON.results){
                client_select.append(
                    $('<option></option>').val(clientes.responseJSON.results[key].id).html(clientes.responseJSON.results[key].first_name + " " + clientes.responseJSON.results[key].last_name)
                );
            }
        })

        $('#newSearchButtonCliente').on('click', function(){
            window.location.replace("{% url 'estoque:movimentacaoInsumoSaida' %}");
        })
    });
</script>
{% endblock content %}