    <ul>
        <li><a href='{% url 'home:index' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Cadastros<div class='fa fa-caret-down right'></div></a>
        <ul>
            <li><a href='{% url 'home:listClient' %}'>Clientes</a></li>
            <li><a href='{% url 'home:listLocal' %}'>Unidades de Atendimento</a></li>
            <li><a href='{% url 'home:listProfessional' %}'>Profissionais</a></li>
            {% if user.is_authenticated %}
                {% if request.user.username in 'marcelo.danelon' %}
                    <li><a href='{% url 'home:registerUser' %}'>Operadores</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </ul>