    <ul>
        <li><a href='{% url 'home:index' %}'>Início</a></li>
        <li class='sub-menu'><a href='#'>Cliente<div class='fa fa-caret-down right'></div></a>
        <ul>
            <li><a href='{% url 'home:listClient' %}'>Pesquisar</a></li>
            <li><a href='{% url 'home:createClient' %}'>Cadastrar</a></li>
        </ul>
        </li>
        <li class='sub-menu'><a href='#'>Unidade de Atendimento<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'home:listLocal' %}'>Pesquisar</a></li>
                <li><a href='{% url 'home:createLocal' %}'>Cadastrar</a></li>
            </ul>
        </li>
        </li>
        <li class='sub-menu'><a href='#'>Profissionais<div class='fa fa-caret-down right'></div></a>
            <ul>
                <li><a href='{% url 'home:listProfessional' %}'>Pesquisar</a></li>
                <li><a href='{% url 'home:createProfessional' %}'>Cadastrar</a></li>
            </ul>
        </li>
    </ul>