{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_agendamento.html' %}{% endblock nav_lateral %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <div class="row" style="z-index: -1;">
        <div id="chartContainer1" style="width: 45%; height: 360px; margin-right: 3%; margin-left: 1%;"></div><br>
        <div id="chartContainer2" style="width: 45%; height: 360px;"></div>
    </div>
    <br><br>
    <div class="row">
        <div id="chartContainer3" style="width: 45%; height: 360px; margin-right: 3%; margin-left: 1%;"></div><br>
        <div id="chartContainer4" style="width: 45%; height: 360px;"></div>
    </div>
</div>
{% endblock content %}
