<div id="page2">
    {% load custom_template_tag %}
    {% for field in form %} 
        {% if field.name == 'question6a' %}
            <p>Assinale as principais dificuldades?</p>
        {% endif %}
        {% if field.name == 'question7a' %}
            <br>
            <p>Assinale o que você sente no ouvido?</p>
        {% endif %}
        {% if field.name == 'question6a' or field.name == 'question6d' or field.name == 'question6g' or field.name == 'question7a' or field.name == 'question7d' or field.name == 'question7g' or field.name == 'question7h'%}  
            <div class="row align-items-center">
            {% setvar "yes" as action %}
        {% endif %} 
        {% comment %} {% if field.name == "question7a" %}
            {% setvar "no" as action %}
        {% endif %} {% endcomment %}
        {% if action == "yes" %}
            <div class="col"> 
                {% if field.name == 'question6j' or field.name == 'question7h' %}                  
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                    {{ field }}<br>
                {% else %}
                    {{ field }}
                    <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {% endif %}
            </div>  
        {% endif %}        
        {% if field.name == 'question6c' or field.name == 'question6f' or field.name == 'question6i' or field.name == 'question7c' or field.name == 'question7f' or field.name == 'question7h'%}    
            </div> 
        {% endif %}
    {% endfor %}
    </div>
</div>