<div id="page1">
    {% load custom_template_tag %}
    {% setvar "yes" as action %}
    {% for fieldClient in client %}
        <div class="card_client">
            <div class="row">
                <div class="col">
                    Nome: {{fieldClient.first_name}} {{fieldClient.last_name}}
                </div>
                <div class="col">
                    {% if fieldClient.street == None or fieldClient.number == None or fieldClient.district == None %}
                        Endereço: Incompleto
                    {% else %}
                        Endereço: {{fieldClient.street}}, {{fieldClient.number}} - {{fieldClient.district}}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    Data de Nascimento: {{fieldClient.born}}
                </div>
            </div>
        </div>
    {% endfor %}
    {% for field in form %} 
        {% if field.name == 'client' or field.name == 'conheceu' or field.name == 'question2' or field.name == 'question4' %}  
            <div class="row align-items-center">
        {% endif %} 
        {% if field.name == "question6a" %}
            {% setvar "no" as action %}
        {% endif %}
        {% if action == "yes" %}
            <div class="col"> 
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label> <br>
                {% if form.non_field_errors %}
                    <div class="form-content">
                    <div class="form-group">
                        <div class="message error">
                        {{ form.non_field_errors }}
                        </div>
                    </div>
                    </div>
                {% endif %}
                {{ field }}
                {{ field.errors }}
            </div>  
        {% endif %}        
        {% if field.name == 'data' or field.name == 'question1' or field.name == 'question3' or field.name == 'question5' %}    
            </div> <br> 
        {% endif %}
    {% endfor %}
</div>