{% extends 'global/base.html' %}

{% block nav_lateral %}
  {% include 'partials/_nav_agendamento.html' %}
{% endblock nav_lateral %}

{% block head_base %}
<style>
  .btn-movimentacao {
    border: none;
    background: none;
    width: 70px; 
    height: 70px; 
    margin: 0 10px;
    transition: all 0.3s ease; 
  }
  select option.destaqueOption {
    background-color: rgba(165, 0, 39);
    color: white;
    text-align: center;
  }
  .btn-movimentacao:hover {
    transform: scale(1.2); 
  }
  .btn-movimentacao.hover-effect:hover {
    transform: none; 
  }
  .btn-historico {
    border: none;
    background: none;
    width: 50px; 
    height: 50px; 
    margin: 0 10px;
    transition: transform 0.3s ease; 
  }
  .btn-historico:hover {
    transform: translateX(-10px); 
  }
  #img-place-cards{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
    font-family: 'Nunito', sans-serif;
  }
  #img-place-cards.active {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    height: 80vh;
  }
</style>
{% endblock head_base %}

{% block content %}
<form id="form-movimentacao" action="{{form_action}}" method="post">
  {% csrf_token %}
  <div style="height: 90vh; width: 82vw; position: relative;">
    <div class="row">
      <div style="margin-left:1%; background: white; width: 35vw; height: 89vh;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);">
        <div style="margin-top:1vh;">
          <div class="row">
            <div class="col">
              {{form.aClient.label}}
              <input type="text" placeholder="Digite um nome ..." id="searchButtonCliente" class="form-control">  
              <select hidden name="aClient" class="form-control" required id="id_aClient">        
              </select> 
            </div>
            <div class="col">
              {{form.aProfessional.label}}
              {{form.aProfessional}}    
            </div>
          </div>
        </div> 
        <div style="margin-top:1vh;">
            <div class="row">
                <div class="col">
                {{form.aLocal.label}}
                {{form.aLocal}}   
                </div>
                <div class="col">
                {{form.aMotAten.label}}
                {{form.aMotAten}}    
                </div>
            </div>
        </div> 
        <div hidden style="margin-top:1vh;">
            {{form.agAgenda}}    
        </div>
        <div id="div-updateAgendamento" hidden style="margin-top:1vh;">
            {{updateAgendamento}}    
        </div>
        <div style="display: flex; justify-content: center; align-items: center; height: 200px;">
          <button title='Agendamento' class="btn-movimentacao" type="button" id="btn-agendamento">
            <img src="/media/agendamento/btn-agendamento.png">
          </button>
        </div>
        <div style="position: absolute; bottom: 2vh; width: 34vw;">
          {{form.agObserv.label}}
          {{form.agObserv}}    
        </div>
      </div>
      <div style="padding:1%; margin-left:1%; background: white; width: 45vw; height: 89vh;box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);overflow-y:auto;">
        <div id="img-place-cards">
          <span style="margin-bottom: 10px;"><b>Agende seu tempo e simplifique sua vida!</b></span>
          <img src="/media/agendamento/agendamento.png" alt="agendamento">
        </div>
        <div hidden id="card-agendamento" style="margin-top:1vh;">
          <h5>Data e Horário</h5>
          {% include 'agendamento/agendamento/pages_agendamento/dataHora.html' %}
        </div>
      </div>
    </div>
    <button class="btn-movimentacao"style="display: inline-block; position: absolute; bottom: 1vh; right: 1vw; height:80px; width:80px;">
      <img src="/media/btn-gravar.png">
    </button>
  </div>  
</form>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://npmcdn.com/flatpickr/dist/l10n/pt.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script>
function calcularHorarios(horarioInicial, intervaloMinutos, horaFinal, bloqueios) {
  if(bloqueios){
    for (let i = 0; i < bloqueios.length; i++) {
        bloqueios[i] = bloqueios[i].slice(0, -3);
    }
  }
  const horarios = [];
  const horaInicio = new Date(`2000-01-01T${horarioInicial}`);
  const horaFim = new Date(`2000-01-01T${horaFinal}`);
  
  let novoHorario = new Date(horaInicio);
  if (bloqueios) {
    while (novoHorario <= horaFim) {
      const hora = novoHorario.getHours().toString().padStart(2, '0');
      const minutos = novoHorario.getMinutes().toString().padStart(2, '0');
      const horarioFormatado = `${hora}:${minutos}`;

      // Verifique se o horário está na lista de bloqueios
      if (!bloqueios.includes(horarioFormatado)) {
          horarios.push(horarioFormatado);
      }

      // Adicionar o intervalo de minutos ao horário
      novoHorario.setMinutes(novoHorario.getMinutes() + intervaloMinutos);
    }
  }else{
    // Loop para calcular os horários dentro do intervalo
    while (novoHorario <= horaFim) {
      const hora = novoHorario.getHours().toString().padStart(2, '0');
      const minutos = novoHorario.getMinutes().toString().padStart(2, '0');
      horarios.push(`${hora}:${minutos}`);
      
      // Adicionar o intervalo de minutos ao horário
      novoHorario.setMinutes(novoHorario.getMinutes() + intervaloMinutos);
    }
  }
  return horarios;
}
function calcularVagasComQuantidade(quantidade, horaInicial, intervaloEmMinutos) {
  const vagas = [];
  const horaInicio = new Date(`2000-01-01T${horaInicial}`);
  for (let i = 0; i < quantidade; i++) {
      const hora = horaInicio.getHours().toString().padStart(2, '0');
      const minutos = horaInicio.getMinutes().toString().padStart(2, '0');
      vagas.push(`${hora}:${minutos}`);
  }
  return vagas;
}
$(document).ready(function() {
  // controle exibição de cards no place
  $('#btn-agendamento').on('click', function(){
    var divAgendamento = document.getElementById('card-agendamento'); 

    if (divAgendamento && divAgendamento.hidden) {
      $('#card-agendamento').prop('hidden', false);
      $('#img-place-cards').prop('hidden', true);
    } else {
      $('#card-agendamento').prop('hidden', true);
      $('#img-place-cards').prop('hidden', false);
    }
  })

  // localizando o paciente | Controle
  $('#searchButtonCliente').on('change', function(){
    var clientes;
    var client_select = $('#id_aClient');
    var cliente = $(this).val();
    if(cliente!=''){
        clientes = $.ajax({
            url: "{% url 'atendimento:getJSONclient' %}?searchClient=" + cliente,   
            type: "get",     
            async: false,  
            data: $("#search").serialize(),    
            success: function (data){
                data_clients = data.results 
            },                 
        });
    };
    /// Identificando se a busca retornou algo
    if(clientes.responseJSON.results[0]!=null){
      $(this).prop('hidden', true);
      $(client_select).prop('hidden', false);
    } else {
      $(this).val('');
    }
    /// iniciando a inclusão dos clientes localizados no select
    client_select.empty();
    var defaultOption = $('<option></option>').val('').html('Selecione um cliente').prop('selected', true);
    client_select.append(defaultOption);
    for (const key in clientes.responseJSON.results){
        client_select.append(
            $('<option></option>').val(clientes.responseJSON.results[key].id).html(clientes.responseJSON.results[key].first_name + " " + clientes.responseJSON.results[key].last_name)
        );
    }
    client_select.append($('<option></option>').val('pesquisa').html('+ Nova pesquisa').addClass('destaqueOption'));
  })
  /// verificar se campo de seleção do cliente, é uma nova busca
  $('#id_aClient').on('change', function(){
    if($(this).val()=='pesquisa'){
      $(this).prop('hidden', true);
      $('#searchButtonCliente').val('');
      $('#searchButtonCliente').prop('hidden', false);
    }
  })

  $('#id_agAgenda').val('')

  $('#id_agTipAge').on('change', function(){
    if ($('#id_agTipAge').val()=='quantidadeTempo'){
      $('#id_agQtdTem').prop('readonly', false)
      $('#id_agQtdTem').prop('required', true)
    }else{
      $('#id_agQtdTem').prop('readonly', true)
      $('#id_agQtdTem').prop('required', false)
    }
  })
  if($('#div-updateAgendamento').text()==1){
    horario = $('#div-horarioUpdate input[name="agHoraAg"]').val();
    $('#id_agHoraAg').append(
        $('<option></option>').val(horario).html(horario)
    );
  }else{
    $('#id_agHoraAg').prop('required',false)
  }

  // bloqueando campos de data e horario, obrigando o preenchimento de cliente, local e profissional para seleção
  $('#id_agDataAg').prop('disabled', true)
  $('#id_agDataAg').prop('style', '')
  $('#id_agHoraAg').prop('disabled', true)
  if({{updateAgendamento}}==1){
    var horarioCompleto = '{{ horario_agendamento }}';
    var horario = horarioCompleto.substring(0, 5);
    $('#id_agHoraAg').empty()
    $('#id_agHoraAg').append(
        $('<option></option>').val(horario).html(horario)
    );
  }
  // consultando dados da agenda com ajax
  var datas_disponiveis;
  var horarios_disponiveis;
  var local;
  var profissional;
  let datasSemVagas = [];
  let disponibilidades = [];
  let agendamentos_items = [];
  let datasSemVagas_db = [];
  let dataMinima = ["0001-01-01"];
  let dataMaxima = ["0001-01-01"];
  let horaInicial = "";
  let horaFinal = "";
  $('#id_aLocal').on('change', function(){
    $('#id_agDataAg').val('')
    $('#id_agHoraAg').val('')
    $('#id_agHoraAg').empty();

    local = $("#id_aLocal").children("option:selected").val();
    profissional = $("#id_aProfessional").children("option:selected").val();
    motivo = $("#id_aMotAten").children("option:selected").val();

    //desbloqueando campos de data e horario caso campos cliente, local e profissional selecionados
    if(local!='' && profissional!='' && motivo!=''){
      $('#id_agDataAg').prop('disabled', false)
      $('#id_agDataAg').prop('style', 'background-color: #fff; color: #000;')
      $('#id_agHoraAg').prop('disabled', false)
    }

    // buscando datas minima e maxima para calendario
    if(local!='' && profissional!=''){
      datas_disponiveis = $.ajax({
          url: "{% url 'agendamento:getJSONdatas' %}?local=" + local + "&profissional=" + profissional + "&motivo=" + motivo,   
          type: "get",     
          async: false,  
          data: $("#search").serialize(),    
          success: function (data){
              data_items = data.results 
              agendamentos_items = data.agendamentos
          },             
      });
    };
    disponibilidades = []
    if (datas_disponiveis && datas_disponiveis.responseJSON && datas_disponiveis.responseJSON.hasOwnProperty('results')) {
      const datasDisponiveis = datas_disponiveis.responseJSON.results;  
      for (const key in datasDisponiveis) {
          const dataMinima = datasDisponiveis[key].agDatIni;
          const dataMaxima = datasDisponiveis[key].agDatFim;
          const horaInicial = datasDisponiveis[key].agHorIni;
          const horaFinal = datasDisponiveis[key].agHorFim;
  
          const disponibilidade = {
              dataMinima: dataMinima,
              dataMaxima: dataMaxima,
              horaInicial: horaInicial,
              horaFinal: horaFinal
          };
  
          disponibilidades.push(disponibilidade);
      }
    }
    //console.log(disponibilidades)
    //console.log(agendamentos_items)
    agendamentos_items.forEach(item => {
      if (item.Restantes === 0) {
        datasSemVagas_db.push(item.Data);
      }
    });
    //console.log(agendamentos_items)
  });

  $('#id_aProfessional').on('change', function(){
    $('#id_aLocal').trigger('change');
  });
  $('#id_aMotAten').on('change', function(){
    $('#id_aLocal').trigger('change');
  });

  // configurando o picker(calendário)
  let flatpickrInstance = null;
  $(document).on('focus', '.calendar', function() {
    const inputElement = this;
    if (!flatpickrInstance) {
      flatpickrInstance = flatpickr(inputElement, {
          dateFormat: "d/m/Y",
          locale: "pt",
          minDate: "today",
          enableTime: false,
          disable: [
            function(date) {
              const selectedDate = date.toISOString().split('T')[0];
              const isUnavailableDate = datasSemVagas.includes(selectedDate) || datasSemVagas_db.includes(selectedDate);

              const isWithinAvailableDates = disponibilidades.some(disponibilidade => {
                const dataMinima = new Date(disponibilidade.dataMinima);
                const dataMaxima = new Date(disponibilidade.dataMaxima);

                dataMaxima.setDate(dataMaxima.getDate() + 1);

                const isWithinDateRange = dataMinima <= date && date < dataMaxima;
                return isWithinDateRange;
              });

              return isUnavailableDate || !isWithinAvailableDates;
            }
          ],
          onClose: function(selectedDates, dateStr, instance) {
              instance.destroy();
              if (datas_disponiveis && datas_disponiveis.responseJSON && datas_disponiveis.responseJSON.hasOwnProperty('results')) {
                var agenda = datas_disponiveis.responseJSON.results[0].id;
              }
              $('#id_agAgenda').val(agenda)
              flatpickrInstance = null;
              const form = inputElement.form;
              const currentIndex = Array.from(form.elements).indexOf(inputElement);
              if(dateStr){
                form.elements[currentIndex + 1].focus();
                horarios_disponiveis = $.ajax({
                    url: "{% url 'agendamento:getJSONhorarios' %}?local=" + local + "&profissional=" + profissional + "&data=" + dateStr + "&agenda=" + agenda,   
                    type: "get",     
                    async: false,  
                    data: $("#search").serialize(),    
                    success: function (data) {
                      data_items = data.results;
                      const horario_select = $('#id_agHoraAg');
                      horario_select.empty();
                      const horaInicial = datas_disponiveis.responseJSON.results[0].agHorIni;
                      const horaFinal = datas_disponiveis.responseJSON.results[0].agHorFim;
                      var tipoAgenda = data.results[0].tipoAgenda;
                      const formattedDateStr = moment(dateStr, 'DD/MM/YYYY').format('YYYY-MM-DD');
                      for (const key in data_items) {
                        if (tipoAgenda=='quantidadeTempo'){
                          let existAgendamento = null;
                          let horariosBloqueios = [];
                          for (const key in agendamentos_items)
                            if (agendamentos_items[key].Data == formattedDateStr){
                              existAgendamento = true;
                              horariosBloqueios.push(agendamentos_items[key].Hora);
                          }
                          if (existAgendamento) {
                            const horarioDisponivel = data_items[key];
                            const intervaloEmMinutos = horarioDisponivel.tempo;
                            const horarios = calcularHorarios(horaInicial, intervaloEmMinutos, horaFinal, horariosBloqueios);
                            
                            horarios.forEach(function (horario) {
                                horario_select.append(
                                    $('<option></option>').val(horario).html(horario)
                                );
                            });
                          }else{
                            const horarioDisponivel = data_items[key];
                            const intervaloEmMinutos = horarioDisponivel.tempo;
                            const horarios = calcularHorarios(horaInicial, intervaloEmMinutos, horaFinal);
                            
                            horarios.forEach(function (horario) {
                                horario_select.append(
                                    $('<option></option>').val(horario).html(horario)
                                );
                            });
                          }
                        } else {
                          let existAgendamento = null;
                          for (const key in agendamentos_items)
                            if (agendamentos_items[key].Data == formattedDateStr){
                              existAgendamento = true;
                              agendamentoSelecionado = agendamentos_items[key]
                            }
                          if (existAgendamento) {
                            const horarioDisponivel = data_items[key];
                            const quantidade = horarioDisponivel.quantidade; 
                            const restantes = agendamentoSelecionado.Restantes;
                            const horarios = calcularVagasComQuantidade(restantes, horaInicial);
                    
                            horarios.forEach(function(horario) {
                                horario_select.append(
                                    $('<option></option>').val(horario).html(horario)
                                );
                            });
                          } else {
                            const horarioDisponivel = data_items[key];
                            const quantidade = horarioDisponivel.quantidade;
                            const vagas = calcularVagasComQuantidade(quantidade, horaInicial);
                            vagas.forEach(function(horario) {
                                horario_select.append(
                                    $('<option></option>').val(horario).html(horario)
                                );
                            });
                          }
                        }
                      }
                      $('#id_agHoraAg').focus();
                  },                 
                });
              }
          },
      });
    }
  });

  $('#btn-form').on('click', function(){
    if (datas_disponiveis && datas_disponiveis.responseJSON && datas_disponiveis.responseJSON.hasOwnProperty('results')) {
      var agenda = datas_disponiveis.responseJSON.results[0].id;
    }
    $('#id_agAgenda').val(agenda)
  })
});
</script>
{% endblock content %}
