{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_agendamento.html' %}{% endblock nav_lateral %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <div class="d-flex justify-content-between">
        <h3>Agendamentos</h3> <a href="{% url 'agendamento:createAgendamento' %}" class="btn btn-primary">Cadastrar</a>
    </div>
    <br>
<div class="responsive-table">
    <form action="{% url 'agendamento:searchAgendamento' %}" method="get">
        <input class="form-control" type="text" name="q" placeholder="Digite um Nome, Profissional, Unidade ou Data">
    </form>
    <table class="clients-table">
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Cliente</th>
                <th class="table-header">Profissional</th>
                <th class="table-header">Local</th>
                <th class="table-header">Data</th>
                <th class="table-header">Horário</th>
            </tr>
        </thead>
        <tbody>
            {% for agendamento in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a href="{% url 'agendamento:updateAgendamento' agendamento.id %}" class="table-link">
                            {{ agendamento.id }}
                        </a>
                    </td>
                    <td class="table-cel">
                        {{ agendamento.aClient }}
                    </td>  
                    <td class="table-cel">
                        {{ agendamento.aProfessional }}
                    </td>  
                    <td class="table-cel">
                        {{ agendamento.aLocal }}
                    </td>    
                    <td class="table-cel">
                        {{ agendamento.agDataAg }}
                    </td>  
                    <td class="table-cel">
                        {{ agendamento.agHoraAg }}
                    </td>                
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/_pagination.html' %}   
</div>
{% endblock content %}