{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_atendimento.html' %}{% endblock nav_lateral %}

{% block content %}
  <script>
  $(document).ready(function(){
      // buscar dados do client, chamando a view
      $("#id_aClient").change(function(){
          var client = $(this).children("option:selected").val();
          if(client!=''){
            window.location.replace("{% url 'atendimento:dadosClient' %}?searchClient=" + client);
          }
      });
      //obter valor parametro searchClient (control select)
      var url_string = window.location.href; 
      var url = new URL(url_string);
      var paramValue = url.searchParams.get("searchClient");
      $('#id_aClient option').each(function() {
        if($(this).val() == paramValue) {
          $(this).attr('selected', true);
        }
      });
  });
  </script>
  <div class="container" style="padding:1px 16px;">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'first')" id="defaultOpen">Primeira</button>
      <button class="tablinks" onclick="openTab(event, 'second')">Segunda</button>
      <button class="tablinks" onclick="openTab(event, 'third')">Terceira</button>
      <button class="tablinks" onclick="openTab(event, 'fourth')">Quarta</button>
    </div>
    <form action="{{form_action}}" method="post" class="container-all form-horizontal">
      {% csrf_token %} 
      <input name="updateAtendimento" hidden value="{{updateAtend}}">
      {% for i in client %}
        <input name="clientId" hidden value="{{i.id}}">
      {% endfor %}
      <!-- Conteúdo da Primeira Aba -->
      <div id="first" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page1_at.html' %}
      </div>
      <!-- Conteúdo da Segunda Aba -->
      <div id="second" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page2_at.html' %} 
      </div>
      <!-- Conteúdo da Terceira Aba -->
      <div id="third" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page3_at.html' %}
      </div>   
      <!-- Conteúdo da Quarta Aba -->
      <div id="fourth" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page4_at.html' %}
      </div>   

      <div style="position: absolute; bottom: 20%; ">        
        <button class="btn btn-success me-1" type="submit">Gravar</button>
    </form>
          {% if option_delete == 'yes'%}
          <form action="{% url 'storage:deleteInsumo' insumo.id %}" method="POST">
              {% csrf_token %}
              {% if confirmation_delete == 'no' %}
                <input name="confirmation_delete" type="hidden" value="yes">
                <button class="btn btn-danger">Confirma?</button>  
              {% else %}
                <button class="btn btn-danger">Delete</button> 
              {% endif %}      
              <a href="{% url 'storage:listInsumo' %}" class="btn btn-primary">Voltar</a>
      </div>  
          </form> 
          {% endif %}  
  </div>
  <script>
    function openTab(evt, tabName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
        tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
        tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(tabName).style.display = "block";
      evt.currentTarget.className += " active";
    }
    document.getElementById("defaultOpen").click();
  </script>
  
{% endblock content %}

