{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_atendimento.html' %}{% endblock nav_lateral %}

{% block content %}
  <script>
  $(document).ready(function(){
      // buscar dados do client, chamando a view
      $("#id_client").change(function(){
          var client = $(this).children("option:selected").val();
          window.location.replace("{% url 'atendimento:dadosClient' %}?searchClient=" + client);
      });
      //obter valor parametro searchClient (control select)
      var url_string = window.location.href; 
      var url = new URL(url_string);
      var paramValue = url.searchParams.get("searchClient");
      $('#id_client option').each(function() {
        if($(this).val() == paramValue) {
          $(this).attr('selected', true);
        }
      });
  });
  </script>
  <div class="container" style="padding:1px 16px;">
    <h3>{{name_screen}}</h3> <br>
    <a class="btn btn-primary" id="addItem1">Page 1</a>  
    <a class="btn btn-primary" id="addItem2">Page 2</a>  
    <a class="btn btn-primary" id="addItem3">Page 3</a> 
    <form action="{{form_action}}" method="post" class="form-control">
      {% csrf_token %} 
          {% include 'atendimento/pages_atendimentos/page1_at.html' %}
          {% include 'atendimento/pages_atendimentos/page2_at.html' %} 
          {% include 'atendimento/pages_atendimentos/page3_at.html' %}                                    
      <div class="form-content d-flex flex-row bd-highlight mb-3">        
        <button class="btn btn-success me-1" type="submit">Gravar</button>
    </form>
          {% if option_delete == 'yes'%}
          <form action="{% url 'storage:deleteInsumo' insumo.id %}" method="POST">
              {% csrf_token %}
              {% if confirmation_delete == 'no' %}
                <input name="confirmation_delete" type="hidden" value="yes">
                <button class="btn btn-danger">Confirma?</button>  
              {% else %}
                <button class="btn btn-danger">Delete</button> 
              {% endif %}      
              <a href="{% url 'storage:listInsumo' %}" class="btn btn-primary">Voltar</a>
      </div>  
          </form> 
          {% endif %}  
  </div>
{% endblock content %}

