{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_atendimento.html' %}{% endblock nav_lateral %}

{% block head_base %}
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="/static/global/partials/jquery.mask.min.js"></script>
<script>
  $(document).ready(function($){
    var SPMaskBehavior = function (val) {
      return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
    },
    spOptions = {
      onKeyPress: function(val, e, field, options) {
          field.mask(SPMaskBehavior.apply({}, arguments), options);
        }
    };
    $('.mask-date').mask('00/00/0000');  
    $('.mask-telefone').mask(SPMaskBehavior, spOptions);
    $(document).on("focus", ".mask-date", function() {
      $(this).mask('00/00/0000');
    });
    $(document).on("focus", ".mask-telefone", function() {
      $('.mask-telefone').mask(SPMaskBehavior, spOptions);
    });
  })
</script>
{% endblock head_base %}

{% block content %}
  <script>
  $(document).ready(function(){
      // buscar dados do client, chamando a view
      $("#id_aClient").change(function(){
          var client = $(this).children("option:selected").val();
          if(client!=''){
            window.location.replace("{% url 'atendimento:atendimento' %}?searchClient=" + client);
          }
      });
      //obter valor parametro searchClient (control select)
      var url_string = window.location.href; 
      var url = new URL(url_string);
      var paramValue = url.searchParams.get("searchClient");
      $('#id_aClient option').each(function() {
        if($(this).val() == paramValue) {
          $(this).attr('selected', true);
        }
      });
      var conditionRow = $('.form-row:not(:first)');
      conditionRow.find('.btn.add-form-row')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row').addClass('remove-form-row')
      .html('-');

      var conditionRow = $('.form-row-tel:not(:first)');
      conditionRow.find('.btn.add-form-row-tel')
      .removeClass('btn-success').addClass('btn-danger')
      .removeClass('add-form-row-tel').addClass('remove-form-row-tel')
      .html('-');

      $('#id_aDemanda').prop('disabled', false);
      if ($('[name=updateAtendimento]').val() == 1){
        $('#id_aDemanda').prop('disabled', true);
      }
      $('#btn_gravar').on('click', function(){
        $('#id_aDemanda').prop('disabled', false);
      });
      
      $('#id_aDemanda').on('change', function(){
        if ($(this).val() == 'telefone'){
            $('#abaTelefonemas').prop('hidden', false);
        } else {
            $('#abaTelefonemas').prop('hidden', true);
        }
      });
      $('#id_aDemanda').trigger('change');
  });
  </script>
  <div class="container" style="padding:1px 16px;">
    <div class="tab">
      <button class="tablinks" onclick="openTab(event, 'first')" id="defaultOpen">Dados Iniciais</button>
      <button hidden class="tablinks" onclick="openTab(event, 'additional_first')" id="abaTelefonemas">Telefonemas</button>
      <button class="tablinks" onclick="openTab(event, 'second')">Anamnese</button>
      <button class="tablinks" onclick="openTab(event, 'third')">Aparelho</button>
      <button class="tablinks" onclick="openTab(event, 'fourth')">Acompanhamento</button>
    </div>
    <form action="{{form_action}}" method="post" class="container-all form-horizontal">
      {% csrf_token %} 
      <input name="updateAtendimento" hidden value="{{updateAtend}}">
      {% for i in client %}
        <input name="clientId" hidden value="{{i.id}}">
      {% endfor %}
      <!-- Conteúdo da Primeira Aba -->
      <div id="first" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page1_at.html' %}
      </div>
      <!-- Conteúdo da Adicionar para aba telefonemas -->
      <div id="additional_first" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page1_at_additional.html' %} 
      </div>
      <!-- Conteúdo da Segunda Aba -->
      <div id="second" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page2_at.html' %} 
      </div>
      <!-- Conteúdo da Terceira Aba -->
      <div id="third" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page3_at.html' %}
      </div>   
      <!-- Conteúdo da Quarta Aba -->
      <div id="fourth" class="tabcontent">
        {% include 'atendimento/pages_atendimentos/page4_at.html' %}
      </div>   

      <div style="position: absolute; bottom: 20%; ">        
        <button id="btn_gravar" class="btn btn-success me-1" type="submit">Gravar</button>
      </div>
    </form>        
  </div>
<script>
  function openTab(evt, tabName) {
    var i, tabcontent, tablinks;
    tabcontent = document.getElementsByClassName("tabcontent");
    for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
    }
    tablinks = document.getElementsByClassName("tablinks");
    for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
    }
    document.getElementById(tabName).style.display = "block";
    evt.currentTarget.className += " active";
  }
  document.getElementById("defaultOpen").click();
</script>
  
{% endblock content %}

