<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Linhas</title>
    <!-- Inclua a biblioteca Plotly.js -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>Meu Gráfico de Linhas</h1>
    <div style="width: 50%;height: 70%;">
        <!-- Crie um elemento com um ID para renderizar o gráfico -->
        <div id="myChart"></div>
    </div>

    <script>
        // Obtenha os dados JSON passados da view
        var data_json = JSON.parse('{{ data_json|escapejs }}');

        // Configure os dados para o gráfico
        var trace = {
            x: data_json.x,
            y: data_json.y,
            mode: 'lines+markers',
            type: 'scatter',
            name: 'Dados de Y',
            line: {color: 'rgba(75, 192, 192, 1)'},
            marker: { size: 8 }
        };

        var data = [trace];

        var layout = {
            xaxis: {
                range: [0, 9000],  // Define o intervalo do eixo x de 0 a 30
                tickmode: 'linear',  // Configura o modo de ticks para linear
                tick0: 0,             // Início dos ticks no eixo x
                dtick: 500,
                fixedrange: true,
                side: 'top',
                linewidth: 1               
            },
            yaxis: {
                range: [110, -10],  // Define o intervalo do eixo y de 0 a 30
                tickmode: 'linear',  // Configura o modo de ticks para linear
                tick0: 0,             // Início dos ticks no eixo y
                dtick: 10,
                zeroline: false,
                fixedrange: true             // Espaçamento entre os ticks no eixo y (1 em 1)
            },
            title: 'Ouvido Direito',
            shapes: [
                {
                    type: 'line',
                    x0: 9000,  // Posição x inicial da linha
                    x1: 9000,  // Posição x final da linha
                    y0: 110,   // Posição y inicial da linha
                    y1: -9000,  // Posição y final da linha
                    line: {
                        color: 'black',  // Cor da linha
                        width: 2        // Espessura da linha
                    }
                },
                {
                    type: 'line',
                    x0: 0,  // Posição x inicial da linha
                    x1: 9000, // Posição x final da linha
                    y0: 110,  // Posição y inicial da linha (topo)
                    y1: 110,  // Posição y final da linha (topo)
                    line: {
                        color: 'black',  // Cor da linha
                        width: 1          // Espessura da linha
                    }
                }
            ]
        };

        var config = {
            displayModeBar: false,  // Para ocultar a barra de ferramentas do gráfico
            scrollZoom: false,      // Para desabilitar o zoom com scroll do mouse
        };

        // Renderize o gráfico usando Plotly
        Plotly.newPlot('myChart', data, layout, config);

        // Aumenta o tamanho do gráfico programaticamente
        var newWidth = 800; // Nova largura em pixels
        var newHeight = 600; // Nova altura em pixels

        Plotly.relayout('myChart', {
            width: newWidth,
            height: newHeight
        });

        console.log(data_json)
        console.log(layout)
    </script>
</body>
</html>
