{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_atendimento.html' %}{% endblock nav_lateral %}

{% block content %}
    {% block head_base %}
        <script>
        $(document).ready(function(){
            // buscar dados do client, chamando a view
            $("#id_aClient").change(function(){
                var client = $(this).children("option:selected").val();
                if(client!=''){
                window.location.replace("{% url 'atendimento:historicoAtendimento' %}?searchClient=" + client);
                }
            });
            //obter valor parametro searchClient (control select)
            var url_string = window.location.href; 
            var url = new URL(url_string);
            var paramValue = url.searchParams.get("searchClient");
            $('#id_aClient option').each(function() {
            if($(this).val() == paramValue) {
                $(this).attr('selected', true);
            }
            });
        });
        </script>
        <style>
            .grid-container {
              display: grid;
              gap: 15px 30px;
              grid-template-columns: auto auto auto;
              padding: 9px;
            }
            
            .grid-item {
              border: 1px solid rgba(0, 0, 0, 0.8);
              padding: 3px;
              font-size: 13px;
              text-align: center;
              width:100%;
              height:230px;
              overflow-y: auto;
            }

            .item1 {
                grid-column-start: 1;
                grid-column-end: 4;
            }

            .item2 {
                grid-column-start: 2;
                grid-column-end: 4;
            }
        </style>
    {% endblock head_base %}
    <div class="container">
        <div>
            <h5>Cliente</h5>
            {{form_atendimento.aClient}}
        </div>

        <div class="grid-container">
            <div class="grid-item d-flex flex-column bd-highlight item1">
                <b>Primeiros Contatos</b>
                {% if atendimentos %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data 1º Consulta</th>
                            <th class="table-header">Profissional</th>
                            <th class="table-header">Unidade</th>
                            <th class="table-header">Onde conheceu a MARKI?</th>
                            <th class="table-header">Tem dificuldade para escutar? Há quanto tempo? Sabe a causa?</th>
                            <th class="table-header">Sua dificuldade está piorando?</th>
                            <th class="table-header">Tem algum ouvido que escuta melhor?</th>
                            <th class="table-header">Há pessoas na família com perda de audição?</th>
                            <th class="table-header">Já trabalhou em ambiente ruidoso? Por quanto tempo?</th>
                        </tr>
                    </thead>                    
                    <tbody>                        
                        {% for field in atendimentos %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {% if field.aDataPri is not None %}
                                        {{ field.aDataPri }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aProfessional is not None %}
                                        {{ field.aProfessional }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aLocal is not None %}
                                        {{ field.aLocal }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aConhece is not None %}
                                        {{ field.aConhece }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aDifiEsc is not None %}
                                        {{ field.aDifiEsc }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aDifiPio is not None %}
                                        {{ field.aDifiPio }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aOuviMel is not None %}
                                        {{ field.aOuviMel }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aPessFam is not None %}
                                        {{ field.aPessFam }}
                                    {% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.aTrabRui is not None %}
                                        {{ field.aTrabRui }}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}                        
                    </tbody>                    
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
            <div class="grid-item d-flex flex-column bd-highlight">
                <b>Anamneses</b>
                {% if anamneses %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data</th>
                            <th class="table-header">Ajuste Ouvido Direito</th>
                            <th class="table-header">Ajuste Ouvido Esquerdo</th>
                            <th class="table-header">Observações</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in anamneses %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {{ field.aDataAna }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aAjustOD }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aAjustOE }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aAObserv }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
            <div class="grid-item d-flex flex-column bd-highlight">
                <b>Contatos Telefonicos</b>
                {% if telefonemas %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data</th>
                            <th class="table-header">Telefone</th>
                            <th class="table-header">Observação</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in telefonemas %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {{ field.aTelData }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aTelLiga }}
                                </td>
                                <td class="table-cel">
                                    {% if field.aTelObse %}{{ field.aTelObse }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
            <div class="grid-item d-flex flex-column bd-highlight">
                <b>Saídas de Insumos</b>
                {% if saidasEstoque %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data</th>
                            <th class="table-header">Unidade</th>
                            <th class="table-header">Tipo</th>
                            <th class="table-header">Insumo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in saidasEstoque %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {{ field.data }}
                                </td>
                                <td class="table-cel">
                                    {{ field.local }}
                                </td>
                                <td class="table-cel">
                                    {{ field.tipoMovimentacao }}
                                </td>
                                <td class="table-cel">
                                    {{ field.nome_insumo }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
            <div class="grid-item d-flex flex-column bd-highlight">
                <b>Agendamentos</b>
                {% if agendamentos %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data</th>
                            <th class="table-header">Horário</th>
                            <th class="table-header">Profissional</th>
                            <th class="table-header">Unidade</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in agendamentos %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {{ field.agDataAg|safe }}
                                </td>
                                <td class="table-cel">
                                    {{ field.agHoraAg }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aProfessional }}
                                </td>
                                <td class="table-cel">
                                    {{ field.aLocal }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
            <div class="grid-item d-flex flex-column bd-highlight item2">
                <b>Audiometrias</b>
                {% if audiometrias %}
                <table>
                    <thead>
                        <tr class="table-row table-row-header">
                            <th class="table-header">Data</th>
                            <th class="table-header">Profissional</th>
                            <th class="table-header">Unidade</th>
                            <th class="table-header">Audiômetro</th>
                            <th class="table-header">Calibração</th>
                            <th class="table-header">Médico solicitante</th>
                            <th class="table-header">MASC. VA (OE)</th>
                            <th class="table-header">MASC. VO (OE)</th>
                            <th class="table-header">MASC. VA (OD)</th>
                            <th class="table-header">MASC. VO (OD)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for field in audiometrias %}            
                            <tr class="table-row">
                                <td class="table-cel">
                                    {{ field.auData }}
                                </td>
                                <td class="table-cel">
                                    {{ field.auProfessional }}
                                </td>
                                <td class="table-cel">
                                    {{ field.auLocal }}
                                </td>
                                <td class="table-cel">
                                    {% if field.auAudio %}{{ field.auAudio }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auCalib %}{{ field.auCalib }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auMedSo %}{{ field.auMedSo }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auMVaOe %}{{ field.auMVaOe }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auMVoOe %}{{ field.auMVoOe }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auMVaOd %}{{ field.auMVaOd }}{% endif %}
                                </td>
                                <td class="table-cel">
                                    {% if field.auMVoOd %}{{ field.auMVoOd }}{% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <div style="background-color:white;height:100%;display: flex;align-items: center;justify-content: center;">Sem Registros</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}