{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_estoque.html' %}{% endblock nav_lateral %}

{% block content %}
<div class="container" style="padding:1px 16px;">
    <div class="d-flex justify-content-between">
        <h3>Grupos de Insumos</h3> <button id="btn-incluir" onclick="location.href='{% url 'estoque:createGrupo' %}'" class="custom-button-base">Cadastrar</button>
    </div>
    <br>
<div class="responsive-table">
    <form action="{% url 'estoque:searchGrupo' %}" method="get">
        <input class="form-control" type="text" name="q" placeholder="Digite um Nome">
    </form>
    <table class="clients-table">
        <thead>
            <tr class="table-row table-row-header">
                <th class="table-header">ID</th>
                <th class="table-header">Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for grupo in page_obj %}
                <tr class="table-row">
                    <td class="table-cel">
                        <a href="{% url 'estoque:updateGrupo' grupo.id %}" class="table-link">
                            {{ grupo.id }}
                        </a>
                    </td>
                    <td class="table-cel">
                            {{ grupo.descricao }}
                    </td>                  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partials/_pagination.html' %}   
</div>
{% endblock content %}