<div class="row">                
    <table>
        <tr>
            <th rowspan="3" style="width: 50px;">OE</th>
            <th colspan="3">IRF</th>
            <th>STR</th>
            <th>LDV</th>
            <th>MASC.</th>
        </tr>
        <tr>
            <td>MONOSSI.</td>
            <td>{{form.auMosPoOe}}</td>   
            <td>{{form.auMosdBOe}}</td> 
            <td rowspan="2">{{form.auSTROe}}</td>   
            <td rowspan="2">{{form.auLDVOe}}</td>
            <td>{{form.auMascOe}}</td>                     
        </tr>
        <tr>
            <td>DISS.</td>
            <td>{{form.auDisPoOe}}</td>
            <td>{{form.auDisdBOe}}</td>
            <td>{{form.auSpaceOe}}</td>
        </tr>
    </table>
</div>
<br>
<div class="row">                
    <table>
        <tr>
            <th rowspan="3" style="width: 50px;">OE</th>
            <th colspan="3">IRF</th>
            <th>STR</th>
            <th>LDV</th>
            <th>MASC.</th>
        </tr>
        <tr>
            <td>MONOSSI.</td>
            <td>{{form.auMosPoOd}}</td>   
            <td>{{form.auMosdBOd}}</td> 
            <td rowspan="2">{{form.auSTROd}}</td>   
            <td rowspan="2">{{form.auLDVOd}}</td>
            <td>{{form.auMascOd}}</td>                     
        </tr>
        <tr>
            <td>DISS.</td>
            <td>{{form.auDisPoOd}}</td>
            <td>{{form.auDisdBOd}}</td>
            <td>{{form.auSpaceOd}}</td>
        </tr>
    </table>
</div>