{% extends 'global/base.html' %}

{% block nav_lateral %}{% include 'partials/_nav_home.html' %}{% endblock nav_lateral %}

{% block content %}
<style>
    .table-body {
        width: 90%;
        background-color: white;
        height: 70%;
        overflow-y: auto;
        display: flex;
        justify-content: center;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .table-report {
        width: 95%;
        overflow-x: auto;
        transform: scale(0.95);
    }

    .table-row {
        display: flex;
        flex-wrap: wrap;
    }

    .table-header {
        flex-basis: calc(100% / 8);
        font-weight: bold;
        background-color: lightgray;
    }

    .table-cell {
        flex-basis: calc(100% / 8);
        padding: 1px;
        text-align: left;
    }

    .table-row:nth-child(odd) {
        background-color: #f2f2f2;
    }

    input {
        width: 100%;
    }
</style>
<form method="GET" action="">
    <div class="container" style="padding: 1px 16px;">
        <div class="d-flex justify-content-between">
            <h3>Lista de Itens de Movimentação de Insumos</h3>
        </div>
        <br>
        <div class="table-body">
            <div class="table-report">
                <div class="table-row">
                    <div class="table-cell"><input placeholder="Filtre por Insumo" type="text" value="{{filtro_insumo}}" name="filtro_insumo" id="filtro_insumo"></div>
                    <div class="table-cell"><input placeholder="Filtre por valor Unitario" type="text" value="{{filtro_valor_unitario}}" name="filtro_valor_unitario" id="filtro_valor_unitario"></div>
                    <div class="table-cell"><input placeholder="Filtre por valor Total" type="text" value="{{filtro_valor_total}}" name="filtro_valor_total" id="filtro_valor_total"></div>
                    <div class="table-cell"><input placeholder="Filtre por quantidade" type="text" value="{{filtro_quantidade}}" name="filtro_quantidade" id="filtro_quantidade"></div>
                    <div class="table-cell"><input placeholder="Filtre por data de validade" type="text" value="{{filtro_data_validade}}" name="filtro_data_validade" id="filtro_data_validade"></div>
                    <div class="table-cell"><input placeholder="Filtre por data de entrada" type="text" value="{{filtro_data_entrada}}" name="filtro_data_entrada" id="filtro_data_entrada"></div>
                    <div class="table-cell"><input placeholder="Filtre por serie" type="text" value="{{filtro_serie}}" name="filtro_serie" id="filtro_serie"></div>
                    <div class="table-cell"><input placeholder="Filtre por local" type="text" value="{{filtro_local}}" name="filtro_local" id="filtro_local"></div>
                </div><br>
                <div class="table-print">
                    <div style="display: none;" id="cabecalho-report">
                        <h3>Lista de Itens de Movimentação de Insumos</h3>
                    </div>
                    <div class="table-row">
                        <div class="table-header">Insumo</div>
                        <div class="table-header">Valor Unitário</div>
                        <div class="table-header">Valor Total</div>
                        <div class="table-header">Quantidade</div>
                        <div class="table-header">Data de Validade</div>
                        <div class="table-header">Data de Entrada</div>
                        <div class="table-header">Série/Lote</div>
                        <div class="table-header">Local</div>
                    </div>
                    {% for item in itens_movimentacao %}
                    <div class="table-row">
                        <div class="table-cell">{{ item.insumo }}</div>
                        <div class="table-cell">{{ item.valorUnitario }}</div>
                        <div class="table-cell">{{ item.valorTotal }}</div>
                        <div class="table-cell">{{ item.quantidade }}</div>
                        <div class="table-cell">{{ item.dataValidade }}</div>
                        <div class="table-cell">{{ item.dataEntrada }}</div>
                        <div class="table-cell">{{ item.serie }}</div>
                        <div class="table-cell">{{ item.local }}</div>
                    </div>
                    {% empty %}
                    <div class="table-row">
                        <div class="table-cell" colspan="8">Nenhum item de movimentação encontrado.</div>
                    </div>
                    {% endfor %}    
                    <br>
                    <div class="table-row-total" style="text-align: right;">
                        <b>Total: {{count_itens_movimentacao}}</b>
                    </div>               
                </div>                             
            </div>            
        </div>
        <br>
        <div class="row align-bottom">
            <div class="col-5">
                <button class="btn btn-primary" type="submit">Filtrar</button>
                <a class="btn btn-success" id="gerarPDF">Gerar PDF</a>
            </div>
        </div>
    </div>
</form>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.1/html2pdf.bundle.min.js" integrity="sha512-GsLlZN/3F2ErC5ifS5QtgpiJtWd43JWSuIgh7mbzZ8zBps+dvLusV+eNQATqgA/HdeKFVgA5v3S/cIrLF7QnIg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src = "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/pdf-lib@1.4.0/dist/pdf-lib.min.js"></script>
<script>
    $("#gerarPDF").on("click", async function () {        
        const element = document.querySelector(".table-print");
        
        var opt = {
            margin:       [1, 0.2, 0.2, 0.2],
            filename:     'relatorio.pdf',
            image:        { type: 'jpeg', quality: 1 },
            html2canvas:  { scale: 2 },
            jsPDF:        { unit: 'in', format: 'a4', orientation: 'landscape' }
        };
        
        // Gerar PDF com html2pdf
        const pdfBlob = await html2pdf().set(opt).from(element).outputPdf().outputPdf('blob');

        // Criar um novo documento pdf-lib
        const pdfDoc = await PDFLib.PDFDocument.load(await pdfBlob.arrayBuffer());

        // Adicionar o cabeçalho ao PDF
        const helveticaFont = await pdfDoc.embedFont(PDFLib.StandardFonts.Helvetica);
        const headerText = 'Cabeçalho Personalizado';

        const pages = pdfDoc.getPages();
        for (const page of pages) {
            const { width, height } = page.getSize();
            page.drawText(headerText, {
                x: 50,
                y: height - 50,
                size: 18,
                font: helveticaFont,
                color: PDFLib.rgb(0, 0, 0), // Cor preta
            });
        }

        // Salvar o PDF com o cabeçalho
        const pdfBytes = await pdfDoc.save();

        // Criar um blob a partir dos bytes do PDF e criar um link para download
        const pdfBlobWithHeader = new Blob([pdfBytes], { type: 'application/pdf' });
        const pdfUrl = URL.createObjectURL(pdfBlobWithHeader);

        const link = document.createElement('a');
        link.href = pdfUrl;
        link.download = 'relatorios.pdf';
        link.click();
    });
</script>

{% endblock content %}