<!-- relatorio.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Relatório</title>
</head>
<body>
    <h1>Selecione os campos para o relatório</h1>
    <form method="post">
        {% csrf_token %}
        <h3>Campos de Agrupamento</h3>
        {% for campo in form.campos_agrupamento %}
            {{ campo.tag }} {{ campo.choice_label }}
        {% endfor %}
    
        <h3>Campos Selecionados</h3>
        {% for campo in form.campos %}
            {{ campo.tag }} {{ campo.choice_label }}
        {% endfor %}
        
        <input type="submit" value="Gerar Relatório">
    </form>
    
    {% if dados_agrupados %}
        <h3>Dados Agrupados</h3>
        <table>
            <thead>
                <tr>
                    {% for campo in form.campos_agrupamento %}
                        <th>{{ campo.choice_label }}</th>
                    {% endfor %}
                    <!-- Adicione cabeçalhos para campos de dados aqui -->
                </tr>
            </thead>
            <tbody>
                {% for agrupamento, dados in dados_agrupados.items %}
                    <tr>
                        {% for valor in agrupamento %}
                            <td>{{ valor }}</td>
                        {% endfor %}
                        <!-- Adicione dados para campos de dados aqui -->
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% for valor in agrupamento %}
    <td>{{ valor }}</td>
{% endfor %}

    {% endif %}
    
</body>
</html>
